<%= form_with(model: attorny, local: true) do |form| %>
  <% if attorny.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attorny.errors.count, "error") %> prohibited this attorny from being saved:</h2>

      <ul>
      <% attorny.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :attorny_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
