<%= javascript_include_tag "type_process" %>

<%= form_with(model: type_process, local: true) do |form| %>
  <% if type_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_process.errors.count, "error") %> prohibited this type_process from being saved:</h2>
      <ul>
        <% type_process.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :litigation_source, value: "SINIESTRO" %>
  <%= form.hidden_field :internal_created %>
  <%= form.hidden_field :internal_updated %>
  <%= form.hidden_field :state, value:"REGISTRO NUEVO CAPTURE" %>

  <div class="row">
    <div class="offset-lg-2 col-lg-8 ">

        <%= form.label :p_type, "Tipo de Proceso" %>
        <div class="input-group">
          <%= form.select :p_type, options_for_select([["PROCESO PREJUDICIAL", 1], ["POCESO JUDICIAL", 2], ["RESPONSABILIDAD FISCAL", 3], ["PROCEDIMIENTO ADMINISTRATIVO", 4]], type_process.p_type), {include_blank: "SELECCIONE"}, {required:true, class:"form-control"} %>
        </div>

        <%= form.label :creation_date, "Fecha de creación" %>
        <div class="input-group">
          <%= form.date_field :creation_date, :readonly => "readonly", class:"form-control" %>
          <span data-toggle="tooltip" data-html="true" title="<%= t('processes.tutelage.creation_date_d') %>" class="input-group-addon fa fa-question m-1" style="font-size:20px"></span>
        </div>

        <%= form.label :case_id_bap, "Número de identificación del caso (Bizagi, Access y PA)" %>
        <div class="input-group">
          <%= form.text_field :case_id_bap, id:"case_id_bap", placeholder: "INGRESE NÚMERO", maxlength:"100", pattern:"[A-Z0-9\- ]*", title: t(:pattern), required:"true", class:"form-control" %>
          <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.case_id_bap_d') %>" class="input-group-addon fa fa-question m-1" style="font-size:20px"></span>
        </div>

        <%= form.label :case_id_sise, "Número de identificación del caso en SISE" %>
        <div class="input-group">
          <%= form.text_field :case_id_sise, id:"case_id_sise", placeholder: "INGRESE NÚMERO", maxlength:"12", pattern:"[0-9]*", title: t(:pattern), required:"true", class:"form-control" %>
          <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.case_id_sise_d') %>" class="input-group-addon fa fa-question m-1" style="font-size:20px"></span>
        </div>

        <%= form.label :sinisters, "Siniestro(s)" %>
        <div id="sinisters_container" class="sinisters">
          <%= form.fields_for :sinisters do |sinister| %>
            <%= render 'sinister_fields', f: sinister %>
          <% end %>
        </div>

        <div class="input-group">
          <%= link_to_add_association form, :sinisters, data: {association_insertion_node: '.sinisters', association_insertion_method: :append}, id:"siniesters_butt", class: "minibtn btn-default m-1" do %>
            <span class="fa">&#x2b;</span>
            Agregar Siniestro
          <% end %>
        </div>

        <%= form.label :policy_cents, "Póliza(s)" %>
        <div id="policies_container" class="policies">
          <%= form.fields_for :policies do |policy| %>
            <%= render 'policy_fields', f: policy %>
          <% end %>
        </div>

        <div class="input-group">
          <%= link_to_add_association form, :policies, data: {association_insertion_node: '.policies', association_insertion_method: :append}, id:"policies_butt", class: "minibtn btn-default m-1" do %>
            <span class="fa">&#x2b;</span>
            Agregar Póliza
          <% end %>
        </div>

    </div>
  </div>

  <%= form.submit "Guardar", class:"btn btn-default floatRight" %>

<% end %>
