<%= javascript_include_tag "capture" %>

<div class="row">
  <div class="offset-md-2 col-md-8">
    <table class="table table-responsive">
      <thead>
        <tr class="darkgreen">
          <th colspan="2" class="center">CAPTURE DEL REGISTRO: <%= @type_process.get_type_process %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"  width="50%">Abogado interno</th>
          <td  width="50%"> <%= @type_process.get_user %> </td>
        </tr>
        <tr>
          <th scope="row">Identificacion Bizagi Access y PA</th>
          <td> <%= @type_process.case_id_bap %> </td>
        </tr>
        <tr>
          <th scope="row">Identificacion SISE</th>
          <td> <%= @type_process.case_id_sise %> </td>
        </tr>
      </tbody>
    </table>

    <br />
    <hr />
    <br />

    <table class="table table-hover table-responsive">
      <thead>
        <tr class="to-uc">
          <th class="center" scope="col">Siniestro</th>
          <th class="center" scope="col">Reserva Indemnización</th>
          <th class="center" scope="col">Reserva Honorarios</th>
          <th class="center" scope="col"></th>
        </tr>
        <tbody>
          <% if @sinisters == [] %>
            <tr class='clickable-row' data-href='#'>
            </tr>
          <% else %>
            <% @sinisters.each do |p| %>
              <tr class='clickable-row' data-href='<%= edit_sinister_path(p) %>'>
                <td class="center"><%= p.sinister %></td>
                <td class="center"><%= p.reserve_cents %></td>
                <td class="center"><%= p.reserved_fees_cents %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </thead>
    </table>
  </div>
</div>

<br />
<br />

<%= link_to "Volver", type_process_path(@type_process), class:"btn btn-default" %>

<%= link_to "Editar Registro", edit_type_process_path(@type_process), class:"btn btn-default floatRight" %>
