<div class="row">
  <div class="offset-md-2 col-md-8">
    <table class="table table-responsive">
      <thead>
        <tr class="darkgreen">
          <th colspan="2" class="center">RESUMEN DEL CASO: <%= @type_process.get_type_process %></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row"  width="50%">Abogado interno</th>
          <td  width="50%"> <%= @type_process.get_user %> </td>
        </tr>
        <tr>
          <th scope="row">Fecha de creación</th>
          <td> <%= @type_process.creation_date %> </td>
        </tr>
        <tr>
          <th scope="row">Clase de proceso</th>
          <td> <%= @type_process.get_process_class %> </td>
        </tr>
        <tr>
          <th scope="row">Subclase de proceso</th>
          <td> <%= @type_process.get_subprocess_class %> </td>
        </tr>
        <tr>
          <th scope="row">Radicado correspondencia</th>
          <td> <%= @type_process.correspondency_radicate %> </td>
        </tr>
        <tr>
          <th scope="row">Identificacion Bizagi Access y PA</th>
          <td> <%= @type_process.case_id_bap %> </td>
        </tr>
        <tr>
          <th scope="row">Identificacion SISE</th>
          <td> <%= @type_process.case_id_sise %> </td>
        </tr>
        <tr>
          <th scope="row">Departamento donde cursa el caso</th>
          <td> <%= @type_process.get_departament %> </td>
        </tr>
        <tr>
          <th scope="row">Ciudad donde cursa el caso</th>
          <td> <%= @type_process.city_case %> </td>
        </tr>
        <tr>
          <th scope="row">Nombre de despacho</th>
          <td> <%= @type_process.get_office_name %> </td>
        </tr>
        <tr>
          <th scope="row">Parte activa</th>
          <td> <%= @type_process.get_active_part %> </td>
        </tr>
        <tr>
          <th scope="row">Parte pasiva</th>
          <td> <%= @type_process.get_passive_part %> </td>
        </tr>
        <tr>
          <th scope="row">Terminación del caso</th>
          <td> <%= @type_process.get_case_termination %> </td>
        </tr>
        <tr>
          <th scope="row">Hechos</th>
          <td> <%= @type_process.facts %> </td>
        </tr>
        <tr>
          <th scope="row">Resumen de la contingencia</th>
          <td> <%= @type_process.contingency_resume %> </td>
        </tr>
        <tr>
          <th scope="row">Número del siniestro (completo)</th>
          <td> <%= @type_process.sinister %> </td>
        </tr>
        <tr>
          <th scope="row">Apoderado Previsora</th>
          <td> <%= @type_process.attorny %> </td>
        </tr>
        <tr>
          <th scope="row">Fecha de decisión / Fecha de la primera audiencia</th>
          <td> <%= @type_process.desition_date %> </td>
        </tr>
        <tr>
          <th scope="row">Etapa actual</th>
          <td> <%= @type_process.get_current_stage %> </td>
        </tr>
        <tr>
          <th scope="row">Tipo de Vinculación</th>
          <td> <%= @type_process.get_link_type %> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if current_user.role == 1 %>
  <%= link_to "Volver", lawyer_search_path, class:"btn btn-default" %>
<%end %>
<% if current_user.role == 2 %>
  <%= link_to "Volver", coordinator_search_path, class:"btn btn-default" %>
<%end %>
<% if current_user.role == 3 %>
  <%= link_to "Volver", asignator_search_path, class:"btn btn-default" %>
  <%= link_to "Borrar",  @type_process,  method: :delete, data: { confirm: '¿Esta seguro de eliminar este registro?'}, class:"btn btn-default" %>
<%end %>
<% if current_user.role == 4 %>
  <%= link_to "Volver", administrator_search_path, class:"btn btn-default" %>
<%end %>
<% if current_user.type_processes.exists?(id: @type_process.id) || current_user.role == 3 %>
  <%= link_to "Editar", edit_type_process_path(@type_process), class:"btn btn-default floatRight" %>
<% end %>
