<h3 class="title">Ciudades y Municipios</h3>

<%= search_form_for @search, url: city_cases_url do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.text_field :code_cont, placeholder:"Código", class:"form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :name_cont, placeholder:"Nombre", class:"form-control" %>
    </div>
    <div class="col-md-3">
      <div class="styled-select">
        <%= f.select :departament_eq, options_from_collection_for_select(Departament.get_all, :code, :name, '2'), {prompt: "DEPARTAMENTO"}, {class:"form-control"} %>
      </div>
    </div>
    <div class="col-md-3">
      <%= button_tag(type: 'submit', class:"offset-md-6 minibtn btn-default m-1") do %>
        <span class="fa fa-search"></span>
      <% end %>
      <%= link_to new_city_case_path, class:"offset-md-6 minibtn btn-default m-1" do %>
        <span class="fa fa-plus"></span>
      <% end %>
    </div>
  </div>
<% end %>

<br />

<div class="container-fluid p-30">
  <table class="table table-responsive-sm">
    <thead class="darkgreen">
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th></th>
        <th colspan="4"></th>
      </tr>
    </thead>

  <tbody>
    <tbody>
      <% @city_cases.each do |city_case| %>
        <tr>
          <td><%= city_case.code %></td>
          <td><%= city_case.name %></td>
          <td></td>
          <td><%= link_to 'Editar', edit_city_case_path(city_case) %></td>
          <td><%= link_to 'Borrar', city_case, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </tbody>
</table>

<hr />

<br>
<div class="floatRight">
  <%= will_paginate @city_cases, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class:"pagination-lg" %>
</div>

<br>

<%= link_to 'Volver', coordinator_lists_path, class:"btn btn-default" %>
