<p class="justify">
  Bienvenido(a) a <b class="ligthgreen1">Registro Único Secundario</b>.
  <br><br>
  Apreciado(a) <%= @user.name.titleize %>.
  <br><br>
  La Gerencia de Procesos Judiciales a través de esta aplicación busca consolidar los registros de los casos vigentes o terminados que son administrados por esta área, como preparación para la futura migración de datos que se realizará en la herramienta final.
  <br><br>
  De acuerdo a su perfil, podrá acceder a funcionalidades como: registrar, actualizar, identificar, estandarizar, controlar y unificar la información registrada en el sistema.
  <br><br>
  Así mismo, la herramienta permite realizar búsquedas de registros, generar reportes y mantener un repositorio único para todos los procesos gestionados actualmente.
  <br><br>
  Contamos con su compromiso en la verificación y validación de la información que registre o actualice en el desarrollo de su gestión, de su colaboración depende el éxito de la integridad de la información de los casos que realiza la Gerencia de Procesos Judiciales.
</p>

<br />
<div class="row">
  <div class="offset-sm-1 col-sm-2">
    <%= link_to coordinator_management_path, :class=>"btn-circle btn-inverse" do %>
      <span class="fa fa-users"></span>
    <% end %>
    <br>
    <div class="ligthgreen1">
      Administrar Usuarios
    </div>
  </div>
  <div class="offset-sm-2 col-sm-2">
    <%= link_to coordinator_search_path, :class=>"btn-circle btn-inverse" do %>
      <span class="fa">&#xf002;</span>
    <% end %>
    <br>
    <div class="ligthgreen1">
      Buscar Registro
    </div>
  </div>
  <div class="offset-sm-2 col-sm-2">
    <%= link_to coordinator_report_path, class:"btn-circle btn-inverse" do %>
      <span class="fa">&#xf019;</span>
    <% end %>
    <br>
    <div class="ligthgreen1">
      Descargar Base de Datos
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="offset-sm-1 col-sm-2">
    <%= link_to coordinator_lists_path, class:"btn-circle btn-inverse" do %>
      <span class="fa">&#xf022;</span>
    <% end %>
    <br>
    <div class="ligthgreen1">
      Listas Desplegables
    </div>
  </div>
  <div class="offset-sm-2 col-sm-2">
    <%= link_to coordinator_files_path, class:"btn-circle btn-inverse" do %>
      <span class="fa">&#xf02d;</span>
    <% end %>
    <br>
    <div class="ligthgreen1">
      Historial de Reportes
    </div>
  </div>
  <div class="offset-sm-2 col-sm-2">
    <%= link_to type_processes_path(format: "xlsx"), :data => {:confirm => "A continuación se abrirá un nueva pestaña. Una vez el reporte se haya generado, esta se cerrará automáticamente. \n\nNo cierre la pestaña o genere otro reporte hasta que este proceso termine. \n\nEsto podría tardar varios minutos. \n\n¿Desea continuar?"}, target: '_blank', class:"btn-circle btn-inverse" do %>
      <span class="fa">&#xf01a;</span>
    <% end %>
    <br>
    <div class="ligthgreen1">
      Reporte Global para Migración
    </div>
  </div>
</div>
<br />
<br />
