<h1>Home</h1>

<%= @user.inspect %>

<%= link_to "Prejudicial", new_prejudicial_path %>

<%= link_to "Judicial", new_judicial_path %>

<%= link_to "Fiscal", new_fiscal_path %>

<%= link_to "Procedimiento administrativo", new_administrative_path %>

<%= link_to "Tutela", new_tutelage_path %>
