<% if flash[:error] == nil  %>
  <%= flash[:error] %>
<% end %>

<%= form_with(model: type_process, local: true) do |form| %>
  <% if type_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_process.errors.count, "error") %> prohibited this type_process from being saved:</h2>

      <ul>
        <% type_process.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="p-30">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-7 ">

        <%= form.hidden_field :p_type, :value => 2 %>
        <%= form.hidden_field :user_id, :value => current_user.id %>

        <hr>

        <%= form.label "Clase de proceso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:process_class_id, ProcessClass.judicial, :id, :name, {:prompt => 'SELECCIONE'}, {class:"form-control", id: "processClass", required: true}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>


        <%= form.label "Subclase de proceso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:subprocess_class_id, SubprocessClass.admin, :id , :name, {:prompt => 'SELECCIONE'}, {class:"form-control", id:"subprocessAdmin", required: true}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:subprocess_class_id, SubprocessClass.penal, :id , :name, {:prompt => 'SELECCIONE'}, {class:"form-control", id:"subprocessPenal", required: true}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>


        <hr>

        <%= form.label "Tiene número de radicado correspondencia?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="radicate" class="form-control">
              <option value="No">NO</option>
              <option value="Si">SI</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicado correspondencia" %>
        <div class="input-group">
          <%= form.text_field :correspondency_radicate, placeholder: "INGRESE EL NUMERO", id:"correspondency_radicate", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de identificación del caso (Bizagi, Acces y PA)" %>
        <div class="input-group">
          <%= form.text_field :case_id_bap, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de identificación del caso SISE" %>
        <div class="input-group">
          <%= form.text_field :case_id_sise, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Fecha de creación" %>
        <div class="input-group">
          <%= form.date_field :creation_date, :readonly => "readonly", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tipo de vinculación" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:link_type_id, LinkType.judicial, :id, :name, {:prompt => 'SELECCIONE'}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Departamento" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:departament_id, Departament.all, :id, :name, {:prompt => 'SELECCIONE'}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ciudad donde cursa el caso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:city_case_id, CityCase.all, :id, :name, {:prompt => 'SELECCIONE'}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fuente de litigio" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:litigation_source_id, LitigationSource.all, :id, :name, {:prompt => 'SELECCIONE'}, {id:"litigationSource", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Tipo de reaseguro" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:reinsurance_type_id, ReinsuranceType.all, :id, :name, {:prompt => 'SELECCIONE'}, {class:"form-control", id: "reinsurance_type"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor reaseguro" %>
        <div class="input-group">
          <%= form.number_field :reinsurance_value_cents, id:"reinsurance_value", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Reaseguro reportado" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.select :reinsurance_report, options_for_select([["NO", false], ["SI", true]]), {}, {class:"form-control"} %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tipo de coaseguro" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:coensurance_type_id, CoensuranceType.all, :id, :name, {:prompt => 'SELECCIONE'}, {class:"form-control", id: "coensurance_type"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor coaseguro" %>
        <div class="input-group">
          <%= form.number_field :coensurance_value_cents, id:"coensurance_value", class:"form-control", readOnly:'readOnly'%>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Póliza" %>
        <div class="input-group">
          <%= form.number_field :policy_cents, id:"policyCents", class:"form-control", readOnly:'readOnly' %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Amparo" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:protection_id, Protection.all, :id, :name, {:prompt => 'SELECCIONE'}, {class:"form-control", id:"protection", :disabled=>"true"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número (siniestro)" %>
        <div class="input-group">
          <%= form.number_field :number, id:"number", value: 0, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ejercicio" %>
        <div class="input-group">
          <%= form.number_field :exercise, id:"exercise", value: 0, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Sucursal de la póliza" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:branch_policy_id, BranchPolicy.all, :num, :large_name, {}, {class:"form-control", :id => "branch_policy" }) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ramo comercial" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:branch_commercial_id, BranchCommercial.all, :num, :large_name, {}, {class:"form-control", :id => "branch_commercial" }) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número del siniestro (completo)" %>
        <div class="input-group">
          <%= form.text_field :sinister, id:"sinister", :readOnly=>"readOnly", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tiene más pólizas?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="more_policies" class="form-control">
              <option value="No">NO</option>
              <option value="Si">SI</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de pólizas" %>
        <div class="input-group">
          <%= form.text_area :policies, value: "PENDIENTE", id:"policies", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de siniestros" %>
        <div class="input-group">
          <%= form.text_area :sinisters, value: "PENDIENTE", id:"sinisters", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Tipo moneda" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:money_type_id, MoneyType.all, :id, :name, {}, {class:"form-control", id:"moneyType"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor del dólar" %>
        <div class="input-group">
          <%= form.number_field :dolar_value_cents, class:"form-control", id:"dolarValueCents" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor reserva" %>
        <div class="input-group">
          <%= form.number_field :reserve_cents, value: 0, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor provisión de indemnización" %>
        <div class="input-group">
          <%= form.number_field :provision_cents, value: 0, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor reserva honorarios" %>
        <div class="input-group">
          <%= form.number_field :reserved_fees_cents, value: 0, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor pretensión / detrimento / estimación" %>
        <div class="input-group">
          <%= form.number_field :detritment_cents, id:"detrimetValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor asegurado" %>
        <div class="input-group">
          <%= form.number_field :ensurance_value_cents, id:"ensuranceValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor contingencia" %>
        <div class="input-group">
          <%= form.number_field :contingency_value_cents, id:"contingencyValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Fecha de notificación / vinculación" %>
        <div class="input-group">
          <%= form.date_field :notification_date, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicación del proceso" %>
        <div class="input-group">
          <%= form.text_field :process_radicate, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Apoderado Previsora" %>
        <div class="input-group">
          <%= form.text_field :attorny, :placeholder => 'NOMBRE COMPLETO', required: true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de asignación apoderado Previsora" %>
        <div class="input-group">
          <%= form.date_field :attorny_date, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Nombre despacho / tipo contraloría" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:office_name, OfficeName.judicial, :name, :name, {:prompt => 'SELECCIONE'}, {id: "office", class:"form-control"}) %>
          </div>
          <div>
            <%= form.text_field :office_name, placeholder: 'NOMBRE DEL DESPACHO', required: true, id: "office_text",class: "form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Parte activa" %>
        <div class="input-group">
          <%= form.text_field :active_part, :placeholder => 'NOMBRE COMPLETO', required: true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Parte pasiva" %>
        <div class="input-group">
          <%= form.text_field :passive_part, :placeholder => 'NOMBRE COMPLETO', required: true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Calificación contingencia" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:score_contingency_id, ScoreContingency.all, :id, :name, {}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Razón contingencia" %>
        <div class="input-group">
          <%= form.text_area :contingency_reason, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Resumen de la contingencia" %>
        <div class="input-group">
          <%= form.text_area :contingency_resume, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Hechos" %>
        <div class="input-group">
          <%= form.text_area :facts, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Etapa actual", id:"currentStage" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_admin, :id, :name, {}, {id:"currentStageAdmin", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_penal, :id, :name, {}, {id:"currentStagePenal", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Instancias" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:instance_id, Instance.all, :id, :name, {}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Estado del caso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:case_state_id, CaseState.all, :id, :name, {}, {class:"form-control", id:"caseState"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de decisión" %>
        <div class="input-group">
          <%= form.date_field :desition_date, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Terminación del caso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:case_termination_id, CaseTermination.all, :id, :name, {:prompt => 'SELECCIONE'}, {class:"form-control", id:"caseTermination"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor fallo decisión" %>
        <div class="input-group">
          <%= form.number_field :fail_value_cents, value: 0, class:"form-control", id: "fail_value" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor fallo a cargo de Previsora" %>
        <div class="input-group">
          <%= form.number_field :fail_previ_cents, value: 0, class:"form-control", id: "fail_previ" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor pagado Previsora" %>
        <div class="input-group">
          <%= form.number_field :payed_value_cents, value: 0, class:"form-control", id: "payed_value" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de consignación" %>
        <div class="input-group">
          <%= form.date_field :payment_date, class:"form-control", id: "payment_date" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Procede recobro" %><br>
        <div class="input-group">
          <div class="styled-select">
            <%= form.select :recovery, options_for_select([["NO", false], ["SI", true]]), {}, {class:"form-control", id: "recovery"} %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tiene número de radicado de coactivo?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="coactive" class="form-control">
              <option value="No">NO</option>
              <option value="Si">SI</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicación de coactivo" %>
        <div class="input-group">
          <%= form.text_field :coactive_radicate, id:"coactive_radicate", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor coactivo" %>
        <div class="input-group">
          <%= form.number_field :coactive_value_cents, id:"coactive_value_cents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor embargo" %>
        <div class="input-group">
          <%= form.number_field :garnish_value_cents, value: 0, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Última actuación" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:last_performance_id, LastPerformance.all, :id, :name, {}, {class:"form-control", id:"lastPerformance"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha última actuación" %>
        <div class="input-group">
          <%= form.date_field :last_performance_date, class:"form-control",  id:"lastPerformanceDate", min:"1980-1-1", max:"2025-1-1" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ingresa al comité?" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:join_committee_id, JoinCommittee.all, :id, :name, {}, {class:"form-control", id:"join_committee"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha ingreso al comité" %>
        <div class="input-group">
          <%= form.date_field :committee_date, class:"form-control",  id:"committee_date" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Desición del comité" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:committee_id, Committee.all, :id, :name, {}, {class:"form-control", id:"committee"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor autorizado por el comité" %>
        <div class="input-group">
          <%= form.number_field :auth_value_cents, value: 0, id:"auth_value", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor conciliado" %>
        <div class="input-group">
          <%= form.number_field :reconcilie_value_cents, value: 0, id:"reconcilie_value", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Razón de no conciliar" %>
        <div class="input-group">
          <%= form.text_area :reason_conc, value: "PENDIENTE", id:"reason_conc", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Razón de invialibilidad" %>
        <div class="input-group">
          <%= form.text_area :reason_inv, value: "PENDIENTE", id:"reason_inv", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Reserva depurada" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:reserved_released_id, ReservedReleased.all, :id, :name, {}, {class:"form-control", id:"reservedReleased"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

      </div>
    </div>
  </div>
  <div class="">
    <%= link_to 'Volver', index_home_path, class:"btn btn-default" %>
    <%= form.submit "Guardar", class:"btn btn-default floatRight" %>
  </div>
<% end %>
