<script>
function input_pendiente_rule(input) {
  var value = input.value;
  if (value === "PENDIENTE" && input.readOnly === false) {
    input.value = "";
  }
  return $(input).trigger("change")
}
function input_empty_pendiente_rule(input) {
  var value = input.value;
  if (value === "" && input.readOnly === false) {
    input.value = "PENDIENTE";
  }
  return $(input).trigger("change")
}
function input_nopresenta_rule(input) {
  var value = input.value;
  if (value === "NO PRESENTA" && input.readOnly === false) {
    input.value = "";
  }
  return $(input).trigger("change")
}
function input_empty_nopresenta_rule(input) {
  var value = input.value;
  if (value === "" && input.readOnly === false) {
    input.value = "NO PRESENTA";
  }
  return $(input).trigger("change")
}
function input_noaplica_rule(input) {
  var value = input.value;
  if (value === "NO APLICA" && input.readOnly === false) {
    input.value = "";
  }
  return $(input).trigger("change")
}
function input_empty_noaplica_rule(input) {
  var value = input.value;
  if (value === "" && input.readOnly === false) {
    input.value = "NO APLICA";
  }
  return $(input).trigger("change")
}
function formatting(input) {
  var value = input.value;
  var num = value.replace(/,|'/g, "");
  num = num.toString().replace(/\B(?=(\d{6})+(?!\d))/g, "'");
  num = num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  input.value = num;
}
</script>

<%= javascript_include_tag "judicial" %>

<%= form_with(model: type_process, local: true) do |form| %>
  <% if type_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_process.errors.count, "error") %> prohibited this type_process from being saved:</h2>
      <ul>
        <% type_process.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="p-30">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-7 ">

        <%= form.hidden_field :p_type, :value => 2 %>
        <%= form.hidden_field :user_id, :value => current_user.id %>

        <hr>

        <%= form.label "Clase de proceso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:process_class_id, ProcessClass.judicial, :id, :name, {prompt: 'SELECCIONE'}, {class:"form-control", id: "processClass", required: true}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.process_class_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Subclase de proceso" %>
        <div id="subprocessAdminDiv" class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:subprocess_class_id, SubprocessClass.admin, :id , :name, {prompt: 'SELECCIONE'}, {class:"form-control", id:"subprocessAdmin", required: true}) %>
            <%= form.collection_select(:subprocess_class_id, SubprocessClass.civil, :id , :name, {prompt: 'SELECCIONE'}, {class:"form-control", id:"subprocessCivil", required: true}) %>
            <%= form.collection_select(:subprocess_class_id, SubprocessClass.penal, :id , :name, {}, {class:"form-control", id:"subprocessPenal", required: true}) %>
            <%= form.collection_select(:subprocess_class_id, SubprocessClass.laboral, :id , :name, {prompt: 'SELECCIONE'}, {class:"form-control", id:"subprocessLaboral", required: true}) %>
            <%= form.collection_select(:subprocess_class_id, SubprocessClass.arbitral, :id , :name, {}, {class:"form-control", id:"subprocessArbitral", required: true}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.subprocess_class_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "¿Tiene número de radicado correspondencia?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="radicate" class="form-control">
              <option value="Si">SI</option>
              <option value="No">NO</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.radicate_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicado correspondencia" %>
        <div class="input-group">
          <%= form.text_field :correspondency_radicate, id:"correspondency_radicate", onclick:"input_nopresenta_rule(this)", onblur:"input_empty_nopresenta_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.correspondency_radicate_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de identificación del caso (Bizagi, Acces y PA)" %>
        <div class="input-group">
          <%= form.text_field :case_id_bap, id:"case_id_bap", onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.case_id_bap_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de identificación del caso SISE" %>
        <div class="input-group">
          <%= form.text_field :case_id_sise, id:"case_id_sise",  onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.case_id_sise_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de identificación del caso E-KOGUI" %>
        <div class="input-group">
          <%= form.text_field :case_id_ekogui, id:"case_id_ekogui", onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.case_id_ekogui_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Fecha de creación" %>
        <div class="input-group">
          <%= form.date_field :creation_date, :readonly => "readonly", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.creation_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tipo de vinculación" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:link_type_id, LinkType.judicial, :id, :name, {prompt: 'SELECCIONE'}, {required: true, class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.link_type_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Departamento donde cursa el caso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.select :departament, options_from_collection_for_select(TypeProcess.get_all_departament, :first, :last, '2'), {prompt: "SELECCIONE"}, {id:"departament", class:"form-control", required: true} %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.departament_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ciudad donde cursa el caso" %>
        <div class="input-group">
          <div class="styled-select">
            <select name="type_process[city_case]" id="cities" required="true">
              <option value="PENDIENTE" selected="selected">SELECCIONE</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.city_case_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Tipo de reaseguro" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:reinsurance_type_id, ReinsuranceType.all, :id, :name, {prompt: 'SELECCIONE'}, {id: "reinsurance_type", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.reinsurance_type_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor reaseguro" %>
        <div class="input-group">
          <%= form.number_field :reinsurance_value_cents, id:"reinsurance_value", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.reinsurance_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tipo de coaseguro" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:coensurance_type_id, CoensuranceType.all, :id, :name, {prompt: 'SELECCIONE'}, {id: "coensurance_type", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.coensurance_type_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor coaseguro" %>
        <div class="input-group">
          <%= form.number_field :coensurance_value_cents, id:"coensurance_value", class:"form-control"%>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.coensurance_type_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Fuente de litigio" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:litigation_source_id, LitigationSource.all, :id, :name, {prompt: 'SELECCIONE'}, {id:"litigationSource", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.litigation_source_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Póliza" %>
        <div class="input-group">
          <%= form.number_field :policy_cents, id:"policyCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.policy_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Amparo" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:protection_id, Protection.all, :id, :name, {prompt: 'SELECCIONE'}, {id:"protection", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.protection_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número (siniestro)" %>
        <div class="input-group">
          <%= form.number_field :number, id:"number", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.number_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ejercicio" %>
        <div class="input-group">
          <%= form.number_field :exercise, id:"exercise", max: "99", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.exercise_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Sucursal de la póliza" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:branch_policy_id, BranchPolicy.all, :num, :large_name, {}, {class:"form-control", :id => "branch_policy" }) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.branch_policy_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ramo comercial" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:branch_commercial_id, BranchCommercial.all, :num, :large_name, {}, {class:"form-control", :id => "branch_commercial" }) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.branch_commercial_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número del siniestro (completo)" %>
        <div class="input-group">
          <%= form.text_field :sinister, id:"sinister", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.sinister_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "¿Tiene más pólizas?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="more_policies" class="form-control">
              <option value="Si">SI</option>
              <option value="No">NO</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.more_policies_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de pólizas" %>
        <div class="input-group">
          <%= form.text_area :policies, id:"policies", onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.policies_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de siniestros" %>
        <div class="input-group">
          <%= form.text_area :sinisters, id:"sinisters",  onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.sinisters_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Tipo moneda" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:money_type_id, MoneyType.all, :id, :name, {}, {class:"form-control", id:"moneyType"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.money_type_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor del dólar" %>
        <div class="input-group">
          <%= form.number_field :dolar_value_cents, id:"dolarValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.dolar_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor reserva" %>
        <div class="input-group">
          <%= form.number_field :reserve_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.reserve_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor provisión de indemnización" %>
        <div class="input-group">
          <%= form.number_field :provision_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.provision_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor reserva honorarios" %>
        <div class="input-group">
          <%= form.number_field :reserved_fees_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.reserve_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor pretensión / detrimento / estimación" %>
        <div class="input-group">
          <%= form.number_field :detritment_cents, id:"detrimetValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.detritment_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor asegurado" %>
        <div class="input-group">
          <%= form.number_field :ensurance_value_cents, id:"ensuranceValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.ensurance_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor contingencia" %>
        <div class="input-group">
          <%= form.number_field :contingency_value_cents, id:"contingencyValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.contingency_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Fecha de notificación / vinculación" %>
        <div class="input-group">
          <%= form.date_field :notification_date, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.notification_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicación del proceso" %>
        <div class="input-group">
          <%= form.text_field :process_radicate, placeholder: 'INGRESE EL NUMERO', required: true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.process_radicate_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Apoderado Previsora" %>
        <div class="input-group">
          <%= form.text_field :attorny, placeholder: 'NOMBRE COMPLETO', required: true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.attorny_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de asignación apoderado Previsora" %>
        <div class="input-group">
          <%= form.date_field :attorny_date, required: true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.attorny_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Nombre despacho / tipo contraloría" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:office_name, OfficeName.judicial, :name, :name, {prompt: 'SELECCIONE'}, {id: "office", required: true, class:"form-control"}) %>
          </div>
          <div>
            <%= form.text_field :office_name, id: "office_text", placeholder: 'NOMBRE DEL DESPACHO', class: "form-control", required: true %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.office_name_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Parte activa" %>
        <div class="input-group">
          <%= form.text_field :active_part, placeholder: 'NOMBRE COMPLETO', required: true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.active_part_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Parte pasiva" %>
        <div class="input-group">
          <%= form.text_field :passive_part, placeholder: 'NOMBRE COMPLETO', required: true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.passive_part_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Calificación contingencia" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:score_contingency_id, ScoreContingency.all, :id, :name, {prompt: 'SELECCIONE'}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.score_contingency_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Razón contingencia" %>
        <div class="input-group">
          <%= form.text_area :contingency_reason, id:"contingency_reason", onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.contingency_reason') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Resumen de la contingencia" %>
        <div class="input-group">
          <%= form.text_area :contingency_resume, id:"contingency_resume", onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.contingency_resume_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Hechos" %>
        <div class="input-group">
          <%= form.text_area :facts, id:"facts", onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.facts_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Etapa actual", id:"currentStage" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_admin, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_admin", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_penal, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_penal", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_laboral, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_laboral", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_arbitral, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_arbitral", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_verbal, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_verbal", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_verbal_sum, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_verbal_sum", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_monitorio, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_monitorio", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_ejecutivo, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_ejecutivo", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_declarativos, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_declarativos", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_sucesion, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_sucesion", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_liquidacion, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_liquidacion", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_insolvencia, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_insolvencia", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_voluntaria, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_voluntaria", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_ordinario, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_ordinario", class:"form-control"}) %>
            <%= form.collection_select(:current_stage_id, CurrentStage.judicial_divisorio, :id, :name, {prompt: 'SELECCIONE'}, {id:"judicial_divisorio", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.current_stage_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Instancias" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:instance_id, Instance.all, :id, :name, {prompt: "SELECCIONE"}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.instance_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Estado del caso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:case_state_id, CaseState.all, :id, :name, {prompt: "SELECCIONE"}, {class:"form-control", id:"caseState", required: true}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.case_state_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de decisión" %>
        <div class="input-group">
          <%= form.date_field :desition_date, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.desition_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Terminación del caso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:case_termination_id, CaseTermination.all, :id, :name, {prompt: 'SELECCIONE'}, {id:"caseTermination", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.case_termination_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "¿Tiene costas a favor?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="cost" class="form-control">
              <option value="Si">SI</option>
              <option value="No">NO</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.cost_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor costas" %>
        <div class="input-group">
          <%= form.number_field :cost_value_cents,  id:"cost_value", class: "form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.cost_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor fallo decisión" %>
        <div class="input-group">
          <%= form.number_field :fail_value_cents, id: "fail_value", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.fail_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor fallo a cargo de Previsora" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.number_field :fail_previ_cents, id: "fail_previ", class:"form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.fail_previ_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor pagado Previsora" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.number_field :payed_value_cents, id: "payed_value", class:"form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.payed_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de consignación" %>
        <div class="input-group">
          <%= form.date_field :payment_date, id: "payment_date", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.payment_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Procede recobro" %><br>
        <div class="input-group">
          <div class="styled-select">
            <%= form.select :recovery, options_for_select([["NO", false], ["SI", true]]), {}, {class:"form-control", id: "recovery"} %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.recovery_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "¿Tiene número de radicado de coactivo?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="coactive" class="form-control">
              <option value="Si">SI</option>
              <option value="No">NO</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.coactive_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicación de coactivo" %>
        <div class="input-group">
          <%= form.text_field :coactive_radicate, id:"coactive_radicate", onclick:"input_noaplica_rule(this)", onblur:"input_empty_noaplica_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.coactive_radicate_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor coactivo" %>
        <div class="input-group">
          <%= form.number_field :coactive_value_cents, id:"coactive_value_cents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.coactive_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor embargo" %>
        <div class="input-group">
          <%= form.number_field :garnish_value_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.garnish_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Última actuación" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:last_performance_id, LastPerformance.all, :id, :name, {}, {class:"form-control", id:"lastPerformance"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.last_performance_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha última actuación" %>
        <div class="input-group">
          <%= form.date_field :last_performance_date, class:"form-control",  id:"lastPerformanceDate", min:"1980-1-1", max:"2025-1-1" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.last_performance_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "¿Ingresa al comité?" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:join_committee_id, JoinCommittee.all, :id, :name, {}, { id:"join_committee", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.join_committee_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha ingreso al comité" %>
        <div class="input-group">
          <%= form.date_field :committee_date,  id:"committee_date", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.committee_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Decisión del comité" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:committee_id, Committee.all, :id, :name, {}, {id:"committee", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.committee_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor autorizado por el comité" %>
        <div class="input-group">
          <%= form.number_field :auth_value_cents, id:"auth_value", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.auth_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor conciliado" %>
        <div class="input-group">
          <%= form.number_field :reconcilie_value_cents, id:"reconcilie_value", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.reconcilie_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Razón de no conciliar" %>
        <div class="input-group">
          <%= form.text_area :reason_conc, id:"reason_conc",  onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.reason_conc_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Razón de inviabilidad" %>
        <div class="input-group">
          <%= form.text_area :reason_inv, id:"reason_inv",  onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.reason_inv_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Reserva depurada" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:reserved_released_id, ReservedReleased.all, :id, :name, {}, {class:"form-control", id:"reservedReleased"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.judicial.reserved_released_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

      </div>
    </div>
  </div>
  <div class="p-30">
    <%= link_to 'Volver', index_home_path, class:"btn btn-default" %>
    <%= form.submit "Guardar", class:"btn btn-default floatRight" %>
  </div>
<% end %>
