<%= javascript_include_tag "judicial" %>

<%= form_with(model: type_process, local: true) do |form| %>
  <% if type_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_process.errors.count, "error") %> prohibited this type_process from being saved:</h2>
      <ul>
        <% type_process.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="offset-lg-2 col-lg-8 ">

      <p>El símbolo ( <span class="red">*</span> ) marca los campos que son obligatorios.</p>

      <% if current_user.role != 3 %>
        <%= form.hidden_field :p_type, :value => 2 %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
        <%= form.hidden_field :internal_lawyer, :value => current_user.name %>
        <%= form.hidden_field :internal_created %>
        <%= form.hidden_field :state, id:"state_val" %>
      <% end %>

      <hr>

      <%= form.label :process_class, "Clase de Proceso" %> <span class="red">*</span>
      <div class="input-group">
        <%= form.collection_select(:process_class, ProcessClass.judicial, :name, :name, {include_blank: 'SELECCIONE'}, {class:"form-control", id: "processClass", required: true}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.process_class_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :subprocess_class, "Subclase de Proceso" %> <span class="red">*</span>
      <div id="subprocessAdminDiv" class="input-group">
        <%= form.collection_select(:subprocess_class, SubprocessClass.admin, :name, :name, {include_blank: 'SELECCIONE'}, {class:"form-control", id:"subprocessAdmin", required: true}) %>
        <%= form.collection_select(:subprocess_class, SubprocessClass.civil, :name, :name, {include_blank: 'SELECCIONE'}, {class:"form-control", id:"subprocessCivil", required: true}) %>
        <%= form.collection_select(:subprocess_class, SubprocessClass.penal, :name, :name, {}, {class:"form-control", id:"subprocessPenal"}) %>
        <%= form.collection_select(:subprocess_class, SubprocessClass.laboral, :name, :name, {include_blank: 'SELECCIONE'}, {class:"form-control", id:"subprocessLaboral", required: true}) %>
        <%= form.collection_select(:subprocess_class, SubprocessClass.arbitral, :name, :name, {}, {class:"form-control", id:"subprocessArbitral"}) %>
        <span id="subprocessIcon" data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.subprocess_class_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <hr>

      <%= form.label :has_correspondency_radicate, "¿Tiene número de radicado de Correspondencia / Vicepresidencia?" %>
      <div class="input-group">
        <%= form.select :has_correspondency_radicate, [["NO", false], ["SI", true]], {}, {id:"radicate", class:"form-control"} %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.radicate_d') %>" class="input-group-addon fa fa-question m-1" style="font-size:20px"></span>
      </div>

      <%= form.label :correspondency_radicate, "Número de radicado de Correspondencia o de Vicepresidencia" %>
      <div class="input-group">
        <%= form.text_field :correspondency_radicate, id:"correspondency_radicate", maxlength:"100", pattern:"[0-9\- ]*", title: t(:pattern_n), onclick:"input_nopresenta_rule(this)", onblur:"input_empty_nopresenta_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.correspondency_radicate_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :case_id_bap, "Número de identificación del caso (Bizagi Access y PA)" %>
      <div class="input-group">
        <%= form.text_field :case_id_bap, id:"case_id_bap", maxlength:"100", pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.case_id_bap_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :case_id_sise, "Número de identificación del caso en SISE" %>
      <div class="input-group">
        <%= form.text_field :case_id_sise, id:"case_id_sise", maxlength:"12", pattern:"[PENDIENTE|0-9]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.case_id_sise_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :case_id_ekogui, "Número de identificación del caso en eKOGUI" %>
      <div class="input-group">
        <%= form.text_field :case_id_ekogui, id:"case_id_ekogui", maxlength:"100", pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.case_id_ekogui_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <hr>

      <%= form.label :creation_date, "Fecha de creación" %>
      <div class="input-group">
        <%= form.date_field :creation_date, :readonly => "readonly", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.creation_date_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :link_type, "Tipo de vinculación" %> <span class="red">*</span>
      <div class="input-group">
        <%= form.collection_select(:link_type, LinkType.judicial, :name, :name, {include_blank: 'SELECCIONE'}, {required: true, class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.link_type_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :departament, "Departamento donde cursa el caso" %> <span class="red">*</span>
      <div class="input-group">
        <%= form.collection_select(:departament, Departament.get_all, :code, :name, {include_blank: "SELECCIONE"}, {id:"departament", required:"true", class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.departament_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :cities, "Ciudad donde cursa el caso" %> <span class="red">*</span>
      <div class="input-group">
        <select name="type_process[city_case]" id="cities" class="form-control" required="true">
          <option value="" disabled selected>SELECCIONE</option>
          <option value="<%= type_process.city_case %>" selected="selected"><%= type_process.city_case %></option>
        </select>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.city_case_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :office_type, "Tipo de despacho" %>
      <div class="input-group">
       <select id="office_type" class="form-control">
         <option value="">TIPO DE DESPACHO</option>
         <option value="CONSEJO">CONSEJO</option>
         <option value="CORTE SUPREMA">CORTE SUPREMA</option>
         <option value="DESPACHO">DESPACHO</option>
         <option value="JUZGADO">JUZGADO</option>
         <option value="SUPERINTENDENCIA">SUPERINTENDENCIA</option>
       </select>
       <input id="office_number" type="text" placeholder="NUMERO DEL DESPACHO" pattern="[0-9]*" title="Número de exactamente tres dígitos" class="form-control" />
       <span data-toggle="tooltip" data-html="true" title="Filtros para la búsqueda de despachos (estos campos no se guardan)" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :office_name, "Nombre del despacho / Tipo de Contraloría" %><span class="red">*</span>
      <div class="input-group">
       <select name="type_process[office_name]" id="office" class="form-control" required="true">
         <option value="">SELECCIONE</option>
         <option value="<%= type_process.office_name %>" selected="selected"><%= type_process.office_name %></option>
       </select>
       <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.office_name_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <hr>

      <%= form.label :reinsurance_type, "Tipo de reaseguro" %>
      <div class="input-group">
        <%= form.collection_select(:reinsurance_type, ReinsuranceType.all, :name, :name, {include_blank: 'SELECCIONE'}, {id: "reinsurance_type", class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.reinsurance_type_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :reinsurance_report, "Reaseguro reportado" %><br>
      <div class="input-group">
        <%= form.select :reinsurance_report, [["NO", false], ["SI", true]], {}, { class:'form-control' } %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.fiscal.reinsurance_report_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :reinsurance_value_cents, "Valor del reaseguro" %>
      <div class="input-group">
        <%= form.text_field :reinsurance_value_cents, id:"reinsurance_value", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.reinsurance_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :coensurance_type, "Tipo de coaseguro" %>
      <div class="input-group">
        <%= form.collection_select(:coensurance_type, CoensuranceType.all, :name, :name, {include_blank: 'SELECCIONE'}, {id: "coensurance_type", class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.coensurance_type_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :coensurance_value_cents, "Valor del coaseguro para Previsora" %>
      <div class="input-group">
        <%= form.text_field :coensurance_value_cents, id:"coensurance_value", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control"%>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.coensurance_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <hr>

      <%= form.label :litigation_source, "Fuente del litigio" %>
      <div class="input-group">
        <%= form.collection_select(:litigation_source, LitigationSource.all, :name, :name, {include_blank: 'SELECCIONE'}, {id:"litigationSource", class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.litigation_source_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :sinisters, "Siniestro(s)", id:'sinisters_label' %>
      <div id="sinisters_container" class="sinisters">
        <%= form.fields_for :sinisters do |sinister| %>
          <%= render 'sinister_fields', f: sinister %>
        <% end %>
      </div>

      <div class="input-group">
        <%= link_to_add_association form, :sinisters, data: {association_insertion_node: '.sinisters', association_insertion_method: :append}, id:"siniesters_butt", class: "minibtn btn-default m-1" do %>
          <span class="fa">&#x2b;</span>
          Agregar Siniestro
        <% end %>
      </div>

      <%= form.label :policy_cents, "Póliza(s)", id:'policies_label' %>
      <div id="policies_container" class="policies">
        <%= form.fields_for :policies do |policy| %>
          <%= render 'policy_fields', f: policy %>
        <% end %>
      </div>

      <div class="input-group">
        <%= link_to_add_association form, :policies, data: {association_insertion_node: '.policies', association_insertion_method: :append}, id:"policies_butt", class: "minibtn btn-default m-1" do %>
          <span class="fa">&#x2b;</span>
          Agregar Póliza
        <% end %>
      </div>

      <hr />

      <%= form.label :provision_cents, "Valor de la provisión de la indemnización" %>
      <div class="input-group">
        <%= form.text_field :provision_cents, id:"provision_cents", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.provision_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :reserved_fees_cents, "Valor de la reserva para honorarios" %>
      <div class="input-group">
        <%= form.text_field :reserved_fees_cents, id:"reserved_fees_cents", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.reserved_fees_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :ensurance_value_cents, "Valor asegurado" %>
      <div class="input-group">
        <%= form.text_field :ensurance_value_cents, id:"ensurance_value_cents", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.ensurance_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <hr />

      <%= form.label :protection, "Amparo" %>
      <div class="input-group">
        <%= form.collection_select(:protection, Protection.all, :name, :name, {:selected => type_process.send(:protection)}, {id:"protection", multiple:true, class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.fiscal.protection_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :more_protections, "Otros amparos" %>
      <div class="input-group">
        <%= form.text_area :more_protections, id:"more_protections", maxlength:"255", pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_nopresenta_rule(this)", onblur:"input_empty_nopresenta_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.fiscal.more_protections_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <hr>

      <%= form.label :money_type, "Tipo de moneda" %>
      <div class="input-group">
        <%= form.collection_select(:money_type, MoneyType.all, :name, :name, {}, {class:"form-control", id:"moneyType"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.money_type_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :dolar_value_cents, "Valor del dólar" %>
      <div class="input-group">
        <%= form.text_field :dolar_value_cents, id:"dolarValueCents", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.dolar_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :reserve_cents, "Valor de la reserva" %>
      <div class="input-group">
        <%= form.text_field :reserve_cents, maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.reserve_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :detritment_cents, "Valor de la pretensión / detrimento" %>
      <div class="input-group">
        <%= form.text_field :detritment_cents, id:"detrimetValueCents", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.detritment_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :contingency_value_cents, "Valor de la contingencia" %>
      <div class="input-group">
        <%= form.text_field :contingency_value_cents, id:"contingencyValueCents", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.contingency_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <hr>

      <%= form.label :notification_date, "Fecha de la notificación / vinculación" %> <span class="red">*</span>
      <div class="input-group">
        <%= form.date_field :notification_date, required:true, min:"1980-1-1", max:Date.today, class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.notification_date_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :process_radicate, "Número de radicación del proceso - despacho" %> <span class="red">*</span>
      <div class="input-group">
        <%= form.text_field :process_radicate, id:"process_radicate", minlength:"23", maxlength:"23", pattern:"[0-9]*", title: t(:pattern_n), placeholder: 'INGRESE EL NUMERO', onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", required: true, class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.process_radicate_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :attorny, "Apoderado de Previsora" %> <span class="red">*</span>
      <div class="input-group">
        <%= form.collection_select(:attorny, Attorny.get_all, :id, :name, {include_blank:"SELECCIONE"}, {class:"form-control", id:"attorny", required:true}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.attorny_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :attorny_date, "Fecha de asignación del apoderado de Previsora" %> <span class="red">*</span>
      <div class="input-group">
        <%= form.date_field :attorny_date, required: true, class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.attorny_date_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :active_part, "Parte activa" %> <span class="red">*</span>
      <div class="input-group">
        <%= form.text_field :active_part, id:"active_part", maxlength:"100", pattern:"[A-Z0-9\- ]*", title: t(:pattern), placeholder: 'NOMBRE COMPLETO', onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", required: true, class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.active_part_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :document_active_part, "Cédula o NIT de la parte activa" %>
      <div class="input-group">
        <%= form.text_field :document_active_part, id:"document_active_part", maxlength:"100", pattern:"[PENDIENTE|0-9]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.active_part_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :passive_part, "Parte pasiva" %> <span class="red">*</span>
      <div class="input-group">
        <%= form.text_field :passive_part, id:"passive_part", maxlength:"100", pattern:"[A-Z0-9\- ]*", title: t(:pattern), placeholder: 'NOMBRE COMPLETO', onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", required: true, class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.passive_part_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :document_passive_part, "Cédula o NIT de la parte pasiva" %>
      <div class="input-group">
        <%= form.text_field :document_passive_part, id:"document_passive_part", maxlength:"100", pattern:"[PENDIENTE|0-9]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.passive_part_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :score_contingency, "Calificación de la contingencia" %>
      <div class="input-group">
        <%= form.collection_select(:score_contingency, ScoreContingency.all, :name, :name, {include_blank: 'SELECCIONE'}, {class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.score_contingency_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :facts, "Hechos" %>
      <div class="input-group">
        <%= form.text_area :facts, id:"facts", maxlength:"2500", pattern:"[A-Z0-9\-\. ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.facts_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :contingency_resume, "Resumen de la contingencia" %>
      <div class="input-group">
        <%= form.text_area :contingency_resume, id:"contingency_resume", maxlength:"2500", pattern:"[A-Z0-9\-\.\, ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.contingency_resume_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :contingency_reason, "Motivos de la contingencia" %>
      <div class="input-group">
        <%= form.text_area :contingency_reason, id:"contingency_reason", maxlength:"2500", pattern:"[A-Z0-9\-\.\, ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.contingency_reason_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <hr>

      <%= form.label :current_stage, "Etapa actual" %>
      <div id ="currentStageDiv" class="input-group">
        <%= form.collection_select(:current_stage, CurrentStage.judicial_admin, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_admin", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_penal, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_penal", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_laboral, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_laboral", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_arbitral, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_arbitral", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_verbal, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_verbal", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_verbal_sum, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_verbal_sum", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_monitorio, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_monitorio", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_ejecutivo, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_ejecutivo", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_declarativos, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_declarativos", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_sucesion, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_sucesion", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_liquidacion, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_liquidacion", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_insolvencia, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_insolvencia", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_voluntaria, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_voluntaria", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_ordinario, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_ordinario", class:"form-control"}) %>
        <%= form.collection_select(:current_stage, CurrentStage.judicial_divisorio, :name, :name, {include_blank: 'SELECCIONE'}, {id:"judicial_divisorio", class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.current_stage_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :instance, "Etapa actual de las instancias / Instancia en la que se encuentra" %>
      <div class="input-group">
        <%= form.collection_select(:instance, Instance.all, :name, :name, {include_blank: "SELECCIONE"}, {class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.instance_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :case_state, "Estado del caso" %> <span class="red">*</span>
      <div class="input-group">
        <%= form.collection_select(:case_state, CaseState.all, :name, :name, {include_blank: "SELECCIONE"}, {id:"caseState", required:true, class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.case_state_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :desition_date, "Fecha de la primera audiencia / decisión / actuación / acto administrativo / fallo" %>
      <div class="input-group">
        <%= form.date_field :desition_date, id:"desition_date", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.desition_date_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :has_costs, "¿Tiene costas a favor?" %>
      <div class="input-group">
        <%= form.select :has_costs, [["NO", false], ["SI", true]], {}, {id: "cost", class:"form-control"} %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.cost_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :cost_value_cents, "Valor de las costas" %>
      <div class="input-group">
        <%= form.text_field :cost_value_cents,  id:"cost_value", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class: "form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.cost_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :case_termination, "Terminación del caso" %>
      <div class="input-group">
        <%= form.collection_select(:case_termination, CaseTermination.other, :name, :name, {include_blank: 'SELECCIONE'}, {id:"caseTermination", class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.case_termination_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
        <%= form.hidden_field :case_termination, value:"NO PRESENTA", id:"caseTermination_hid" %>
      </div>

      <%= form.label :fail_value_cents, "Valor del fallo de la decisión / sanción" %>
      <div class="input-group">
        <%= form.text_field :fail_value_cents, id:"fail_value", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.fail_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :fail_previ_cents, "Valor del fallo / sanción a cargo de Previsora" %>
      <div class="input-group">
        <%= form.text_field :fail_previ_cents, id: "fail_previ", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.fail_previ_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :payed_value_cents, "Valor pagado por Previsora" %>
      <div class="input-group">
        <%= form.text_field :payed_value_cents, id: "payed_value", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.payed_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :payment_date, "Fecha de consignación / pago" %>
      <div class="input-group">
        <%= form.date_field :payment_date, id: "payment_date", min:"1980-1-1", max:Date.today, class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.payment_date_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :recovery, "¿Procede recobro?" %><br>
      <div class="input-group">
        <%= form.select :recovery, [["NO", false], ["SI", true]], {}, {class:"form-control", id: "recovery"} %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.recovery_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :has_coactive_radicate, "¿Tiene número de radicado de coactivo?" %>
      <div class="input-group">
        <%= form.select :has_coactive_radicate, [["NO", false], ["SI", true]], {}, {id: "coactive", class:"form-control"} %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.coactive_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :coactive_radicate, "Número de radicación del coactivo" %>
      <div class="input-group">
        <%= form.text_field :coactive_radicate, id:"coactive_radicate", pattern:"[0-9\- ]*", title: t(:pattern_n), onclick:"input_nopresenta_rule(this)", onblur:"input_empty_nopresenta_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.coactive_radicate_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :coactive_value_cents, "Valor del coactivo" %>
      <div class="input-group">
        <%= form.text_field :coactive_value_cents, id:"coactive_value_cents", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.coactive_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :garnish_value_cents, "Valor del embargo" %>
      <div class="input-group">
        <%= form.text_field :garnish_value_cents, maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.garnish_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :last_performance, "Última actuación" %>
      <div class="input-group">
        <%= form.collection_select(:last_performance, LastPerformance.all, :name, :name, {include_blank: "SELECCIONE"}, {class:"form-control", id:"lastPerformance"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.last_performance_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
        <%= form.hidden_field :last_performance, value:"NO PRESENTA", id:"lastPerformance_hid" %>
      </div>

      <%= form.label :last_performance_date, "Fecha de la última actuación" %>
      <div class="input-group">
        <%= form.date_field :last_performance_date, id:"lastPerformanceDate", min:"1980-1-1", max:Date.today, class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.last_performance_date_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :join_committee, "¿Ingresa al Comité de Defensa y Conciliación?" %>
      <div class="input-group">
        <%= form.collection_select(:join_committee, JoinCommittee.all, :name, :name, {}, { id:"join_committee", class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.join_committee_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :committee_date, "Fecha ingreso al Comité de Defensa y Conciliación" %>
      <div class="input-group">
        <%= form.date_field :committee_date,  id:"committee_date", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.committee_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :committee, "Decisión del Comité de Defensa y Conciliación" %>
      <div class="input-group">
        <%= form.collection_select(:committee, Committee.all, :name, :name, {include_blank: "SELECCIONE"}, {id:"committee", class:"form-control"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.committee_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
        <%= form.hidden_field :committee, value:"NO PRESENTA", id:"committee_hid" %>
      </div>

      <%= form.label :auth_value_cents, "Valor autorizado por el Comité de Defensa y Conciliación" %>
      <div class="input-group">
        <%= form.text_field :auth_value_cents, id:"auth_value", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.auth_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :reconcilie_value_cents, "Valor conciliado" %>
      <div class="input-group">
        <%= form.text_field :reconcilie_value_cents, id:"reconcilie_value", maxlength:"20", pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.reconcilie_value_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :reason_conc, "Razón de no conciliar" %>
      <div class="input-group">
        <%= form.text_area :reason_conc, id:"reason_conc", maxlength:"255", pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.reason_conc_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :reason_inv, "Razón de inviabilidad del Comité de Defensa y Conciliación" %>
      <div class="input-group">
        <%= form.text_area :reason_inv, id:"reason_inv", maxlength:"255", pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.reason_inv_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
      </div>

      <%= form.label :reserved_released, "¿La reserva ya fue depurada?" %>
      <div class="input-group">
        <%= form.collection_select(:reserved_released, ReservedReleased.all, :name, :name, {include_blank: "SELECCIONE"}, {class:"form-control", id:"reservedReleased"}) %>
        <span data-toggle="tooltip" data-html="true" title="<%= t('processes.judicial.reserved_released_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
        <%= form.hidden_field :reserved_released, value:"NO PRESENTA", id:"reservedReleased_hid" %>
      </div>

      <hr>

    </div>
  </div>

  <%= form.submit "Guardar", class:"btn btn-default floatRight" %>
<% end %>
