<%= javascript_include_tag "tutelage" %>

<%= form_with(model: type_process, local: true) do |form| %>
  <% if type_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_process.errors.count, "error") %> prohibited this type_process from being saved:</h2>

      <ul>
      <% type_process.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="p-30">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-7 ">

        <%= form.hidden_field :p_type, :value => 5 %>
        <%= form.hidden_field :user_id, :value => current_user.id %>

        <hr>

        <%= form.label "Clase de proceso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:process_class_id, ProcessClass.tutelage, :id, :name, {}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Subclase de proceso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:subprocess_class_id, SubprocessClass.tutelage, :id , :name, {:prompt => 'SELECCIONE'}, {class:"form-control", id:"a", required: true}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de notificación / vinculación" %>
        <div class="input-group">
          <%= form.date_field :notification_date, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tiene número de radicado correspondencia o vicepresidencia?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="radicate" class="form-control">
              <option value="No">NO</option>
              <option value="Si">SI</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicado correspondencia o vicepresidencia" %>
        <div class="input-group">
          <%= form.text_field :correspondency_radicate, placeholder: "INGRESE EL NUMERO", id:"correspondency_radicate", onclick:"input_nopresenta_rule(this)", onblur:"input_empty_nopresenta_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Fecha de creación" %>
        <div class="input-group">
          <%= form.date_field :creation_date, :readonly => "readonly", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tipo de vinculación" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:link_type_id, LinkType.tutelage, :id, :name, {}, {value: 1, class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Departamento donde cursa el caso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:departament, Departament.all, :id, :name, {:prompt => 'SELECCIONE'}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ciudad donde cursa el caso" %>
        <div class="input-group">
          <div class="styled-select">
            <select name="type_process[city_case]" id="cities">
              <option value="PENDIENTE" selected="selected">SELECCIONE</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicación del proceso" %>
        <div class="input-group">
          <%= form.text_field :process_radicate, onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Nombre despacho / tipo contraloría" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.text_field :office_name, placeholder: 'NOMBRE DEL DESPACHO', value: "", required: true, id: "office_text", required: true, class: "form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Parte activa" %>
        <div class="input-group">
          <%= form.text_field :active_part, onclick:"input_noaplica_rule(this)", onblur:"input_empty_noaplica_rule(this)", :placeholder => 'NOMBRE COMPLETO', required: true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Parte pasiva" %>
        <div class="input-group">
          <%= form.text_field :passive_part, onclick:"input_noaplica_rule(this)", onblur:"input_empty_noaplica_rule(this)", value:"PREVISORA S.A", :placeholder => 'NOMBRE COMPLETO', required: true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Instancias" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:instance_id, Instance.all, :id, :name, {}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Terminación del caso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:case_termination_id, CaseTermination.tutelage, :id, :name, {}, {class:"form-control", id: "caseTermination"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de decisión" %>
        <div class="input-group">
          <%= form.date_field :desition_date, id: "desition_date", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Hay impugnación?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="objection" class="form-control">
              <option value="No">NO</option>
              <option value="Si">SI</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de notificación impugnación" %>
        <div class="input-group">
          <%= form.date_field :imp_date, id: "objection_date", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Impugnante" %>
        <div class="input-group">
          <%= form.text_field :tutelage_imp, onclick:"input_noaplica_rule(this)", onblur:"input_empty_noaplica_rule(this)", placeholder: "NOMBRE COMPLETO", required: true, id: "objecter", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha decisión impugnación" %>
        <div class="input-group">
          <%= form.date_field :objection_date_desition, id: "date_imp", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de notificación decisión impugnación" %>
        <div class="input-group">
          <%= form.date_field :objection_date_desition_notification, id: "date_notification_imp", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tipo decisión impugnación" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:setence_type_second_company_id, CaseTermination.tutelage, :id, :name, {}, {class:"form-control", id: "setence_type_second_company_id"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Hay desacato?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="desacate" class="form-control">
              <option value="No">NO</option>
              <option value="Si">SI</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha notificación incidente de desacato" %>
        <div class="input-group">
          <%= form.date_field :date_notification_desacate, id: "date_notification_desacate", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tipo sentencia incidente de desacato - a compañía" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:sentence_type_desacate_id, CaseTermination.tutelage, :id, :name, {}, {class:"form-control", id: "sentence_type_desacate"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha notificación decisión incidente desacato" %>
        <div class="input-group">
          <%= form.date_field :date_notification_desition_desacate, id: "date_notification_desition_desacate", class:"form-control" %>
              <option value="No">NO</option>
              <option value="Si">SI</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha notificación incidente de desacato" %>
        <div class="input-group">
          <%= form.date_field :date_notification_desacate, id: "date_notification_desacate", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tipo sentencia incidente de desacato - a compañía" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:sentence_type_desacate_id, CaseTermination.tutelage, :id, :name, {}, {class:"form-control", id: "sentence_type_desacate"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha notificación decisión incidente desacato" %>
        <div class="input-group">
          <%= form.date_field :date_notification_desition_desacate, id: "date_notification_desition_desacate", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de contestación incidente de desacato" %>
        <div class="input-group">
          <%= form.date_field :date_answer_desacate, id: "date_answer_desacate",class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

      </div>
    </div>
  </div>

  <div class="p-30">
    <%= link_to 'Volver', index_home_path, class:"btn btn-default" %>
    <%= form.submit "Guardar", class:"btn btn-default floatRight" %>
  </div>

<% end %>
