<div class="container-fluid p-30">
<table id="show" class="table table-responsive fw">
  <thead>
    <tr class="darkgreen bor">
      <th colspan="2" class="center"><%= @tutelage.get_type_process %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row" width="50%"> Subclase de proceso </th>
      <td width="50%"> <%= @tutelage.get_subprocess_class %> </td>
    </tr>
    <tr>
      <th scope="row"> Fecha de notificación / vinculación </th>
      <td> <%= @tutelage.notification_date %> </td>
    </tr>
    <tr class="bor">
      <th scope="row"> Número de radicado correspondencia o vicepresidencia </th>
      <td> <%= @tutelage.correspondency_radicate %> </td>
    </tr>

    <tr>
      <th scope="row"> Fecha de creación </th>
      <td> <%= @tutelage.creation_date %> </td>
    </tr>
    <tr>
      <th scope="row"> Tipo de vinculación </th>
      <td> <%= @tutelage.get_link_type %> </td>
    </tr>
    <tr>
      <th scope="row"> Departamento </th>
      <td> <%= @tutelage.departament %> </td>
    </tr>
    <tr>
      <th scope="row"> Ciudad donde cursa el caso </th>
      <td> <%= @tutelage.city_case %> </td>
    </tr>
    <tr>
      <th scope="row"> Número de radicación del proceso </th>
      <td> <%= @tutelage.process_radicate %> </td>
    </tr>
    <tr>
      <th scope="row"> Nombre despacho </th>
      <td> <%= @tutelage.office_name %> </td>
    </tr>
    <tr>
      <th scope="row"> Parte activa </th>
      <td> <%= @tutelage.active_part %> </td>
    </tr>
    <tr>
      <th scope="row"> Parte pasiva </th>
      <td> <%= @tutelage.passive_part %> </td>
    </tr>
    <tr>
      <th scope="row"> Instancias </th>
      <td> <%= @tutelage.get_instance %> </td>
    </tr>
    <tr class="bor">
      <th scope="row"> Terminación del caso </th>
      <td> <%= @tutelage.get_case_termination %> </td>
    </tr>

    <tr>
      <th scope="row"> Fecha de notificación impugnación </th>
      <td> <%= @tutelage.imp_date %> </td>
    </tr>
    <tr>
      <th scope="row"> Impugnante </th>
      <td> <%= @tutelage.tutelage_imp %> </td>
    </tr>

    <tr>
      <th scope="row"> Tipo sentencia de segunda instancia - a compañía </th>
      <td> <%= @tutelage.get_setence_type_second_company %> </td>
    </tr>
    <tr>
      <th scope="row"> Fecha notificación incidente de desacato </th>
      <td> <%= @tutelage.date_notification_desacate %> </td>
    </tr>
    <tr>
      <th scope="row"> Fecha de contestación incidente de desacato </th>
      <td> <%= @tutelage.date_answer_desacate %> </td>
    </tr>
    <tr>
      <th scope="row"> Tipo sentencia incidente de desacato - a compañía Impugnante </th>
      <td> <%= @tutelage.get_sentence_type_desacate %> </td>
    </tr>
    <tr class="bor">
      <th scope="row"> Fecha notificación decisión incidente desacato </th>
      <td> <%= @tutelage.date_notification_desition_desacate %> </td>
    </tr>
  </tbody>
</table>
</div>

<div>
  <% if current_user.type_processes.exists?(id: @tutelage.id) %>
    <%= link_to "Editar", edit_tutelage_path(@tutelage), class:"btn btn-default floatRight" %>
  <% end %>
</div>
