<h2 class="title">Nuevo usuario</h2>
<%= form_for(@user, as: @user_name, url: coordinator_update_path(@user)) do |f| %>
  <div class="row">
    <div class="offset-sm-4 col-sm-4">
      <% if @current.role == 2 %>

        <%= f.label "Documento", class:"form-label" %><br />
        <%= f.text_field :document, autofocus: true, class:"form-control" %>

        <%= f.label "Rol" %>
        <div class="styled-select mb-25">
          <%= f.select :role, options_for_select([["ABOGADO INTERNO", 1], ["COORDINADOR", 2], ["ADMINISTRADOR", 3]], @user.role), {}, {class:"form-control"} %>
        </div>

        <%= f.label "Nombre", class:"form-label" %><br />
        <%= f.text_field :name, autofocus: true, class:"form-control" %>

      <% else %>
        <%= f.label "Documento", class:"form-label" %><br />
        <%= f.text_field :document, autofocus: true, readOnly: true, class:"form-control" %>

        <%= f.label "Rol", class:"form-label" %>
        <div class="styled-select mb-25">
          <%= f.select :role, options_for_select([["ABOGADO INTERNO", 1], ["COORDINADOR", 2], ["ADMINISTRADOR", 3]], @user.role), {}, {disabled: true} %>
        </div>

        <%= f.label "Nombre", class:"form-label" %><br />
        <%= f.text_field :name, autofocus: true, readOnly: true, class:"form-control" %>
      <% end %>

      <%= f.label "Contraseña", class:"form-label" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", required: true, class:"form-control" %>

      <%= f.label "Confirmación", class:"form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class:"form-control" %>
      <div class="">
        <%= link_to 'Cancelar', index_home_path, class:"btn btn-default" %>
        <%= f.submit "Editar", class:"btn btn-default floatRight" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-1 col-sm-10">

    </div>
  </div>
<% end %>
