<h2 class="title">Editar usuario</h2>
<%= form_for(@user, as: @user_name, url: coordinator_update_path(@user)) do |f| %>
  <div class="row">
    <div class="offset-sm-4 col-sm-4">
      <% if @current.role == 2 %>

        <%= f.label "Documento", class:"form-label" %><br />
        <%= f.text_field :document, pattern:"[0-9]*", title: t(:pattern), autofocus: true, class:"form-control" %>

        <%= f.label "Rol" %>
        <%= f.select :role, options_for_select([["ABOGADO INTERNO", 1], ["COORDINADOR LEGAL", 2], ["COORDINADOR OPERATIVO", 3], ["ADMINISTRADOR", 4]]), {}, {class:"form-control"} %>

        <%= f.label "Nombre", class:"form-label" %><br />
        <%= f.text_field :name, pattern:"[A-Z0-9\- ]*", title: t(:pattern), autofocus: true, class:"form-control" %>

        <%= f.label "Cargo", class:"form-label" %><br />
        <%= f.text_field :charge, pattern:"[A-Z0-9\- ]*", title: t(:pattern), autofocus: true, class: "form-control" %>

      <% else %>

        <%= f.label "Documento", class:"form-label" %><br />
        <%= f.text_field :document, autofocus: true, readOnly: true, class:"form-control" %>

        <%= f.label "Rol", class:"form-label" %>
        <div class="styled-select mb-25">
          <%= f.select :role, options_for_select([["ABOGADO INTERNO", 1], ["COORDINADOR", 2], ["ADMINISTRADOR", 3]], @user.role), {}, {disabled: true} %>
        </div>

        <%= f.label "Nombre", class:"form-label" %><br />
        <%= f.text_field :name, autofocus: true, readOnly: true, class:"form-control" %>

        <%= f.label "Cargo", class:"form-label" %><br />
        <%= f.text_field :charge, autofocus: true, readOnly: true, class: "form-control" %>

        <%= f.label "Contraseña", class:"form-label" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", required: true, class:"form-control" %>

        <%= f.label "Confirmación", class:"form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class:"form-control" %>

        <div class="actions">
          <% if current_user.role == 2 %>
            <%= link_to "Atrás", coordinator_management_path, class: "btn btn-default" %>
          <% else %>
            <%= link_to "Atrás", root_path, class: "btn btn-default" %>
          <% end %>
          <%= f.submit "Editar", class:"btn btn-default floatRight" %>
        </div>

      <% end %>
    </div>
  </div>
<% end %>
