<%= javascript_include_tag "coordinator/management" %>

<h4 class="ligthgreen1">Administrar Usuarios</h4>
<br>
<p class="justify">
  A través de esta funcionalidad usted podrá realizar búsquedas específicas de Usuarios o crear nuevos de acuerdo a lo que requiera la operación de la Gerencia de Procesos Judiciales.
</p>
<br>
<%= search_form_for @search, url: coordinator_management_url, class:"" do |f| %>
  <div class="row">
    <div class="offset-md-1 col-md-4">
      <%= f.text_field :name_cont, placeholder: "NOMBRE", class:"form-control" %>
    </div>
    <div class="col-md-4">
      <div class="styled-select">
        <%= f.select :role_eq, options_for_select([["ROL", nil], ["ABOGADO INTERNO", 1], ["COORDINADOR", 2], ["ADMINISTRADOR", 3]]), {}, {class:"form-control"} %>
      </div>
    </div>
    <div class="col-md-3">
      <button type="submit" class="minibtn btn-default">
        <span class="fa">&#xf002;</span>
      </button>
      <%= link_to new_user_registration_path, class:"minibtn btn-default" do %>
        <span class="fa">&#xf067;</span>
      <% end %>
    </div>
  </div>
<% end %>
<br>

<div class="floatRight">
  Paginas <%= @page+1 %>-<%= @users.length + @page %> de <%= @search.result.length %>
</div>
<br><br>

<table class="table table-hover table-responsive">
  <thead>
    <tr class="to-uc">
      <th scope="col" width="30%"><%= sort_link @search, :name, "Nombre", {}, :class => 'link' %></th>
      <th scope="col" width="30%"><%= sort_link @search, :role, "Rol", {}, :class => 'link' %></th>
      <th scope="col" width="30%"><%= sort_link @search, :charge, "Cargo", {}, :class => 'link' %></th>
      <th scope="col" width="5%"></th>
      <th scope="col" width="5%"></th>
    </tr>
  </thead>
  <tbody>
    <% if @users == [] %>
    <% else %>
      <% @users.each do |u| %>
        <tr id=<%= u.id %>>
          <td width="30%"><%= u.name.titleize %></td>
          <td width="30%"><%= u.get_role_name.titleize %></td>
          <td width="30%"><%= u.charge.titleize %></td>
          <td width="5%"><%= link_to coordinator_edit_path(u), id:"e#{u.id}", class:"link" do %><span class="fa fa-edit"></span><% end %></td>
          <td width="5%"><%= link_to coordinator_delete_path(u), id:"t#{u.id}", method: :delete, data: { confirm: '¿Esta seguro de eliminar al usuario?'}, class:"link" do %><span class="fa fa-trash-o"></span><% end %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Volver', index_home_path, class:"btn btn-default" %>
<div class="floatRight">
  <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class:"pagination-lg" %>
</div>
