<%= javascript_include_tag "coordinator" %>

<hr>

<div class="container-fluid p-15">
  <%= search_form_for @search, url: coordinator_report_url, class:"" do |f| %>
    <div class="row flexBox">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
        <div class="styled-select m-5">
          <%= f.select :p_type_eq, options_for_select([["TIPO DE PROCESO", nil], ["PROCESO PREJUDICIAL", 1], ["PROCESO JUDICIAL", 2], ["RESPONSABILIDAD FISCAL", 3], ["PROCEDIMIENTO ADMINISTRATIVO", 4], ["TUTELA", 5]]), {}, {} %>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <%= f.text_field :office_name_cont, placeholder: "NOMBRE DESPACHO", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <div class="row flexBox">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
        <div class="styled-select m-5">
          <%= f.select :departament_eq, options_from_collection_for_select(TypeProcess.get_all_departament, :first, :last, '2'), {prompt: "DEPARTAMENTO"}, {id:"departament"} %>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <%= f.text_field :passive_part_cont, placeholder: "ESTADO DEL CASO", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <div class="row flexBox">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
        <div class="styled-select m-5">
          <select name="type_process[city_case_eq]" id="cities">
            <option value="" selected="selected">CIUDAD</option>
          </select>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4 ">
        <%= f.text_field :passive_part_cont, placeholder: "TERMINACION DEL CASO", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row flexBox">
      <div class="col-sm-3 center">
      </div>
      <div class="col-sm-6 m-5 mb-5 center">
        <h5><b>Fecha de creaci처n</b></h5>
      </div>
      <div class="col-sm-3 center">
      </div>
    </div>
    <div class="row flexBox">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-1">
        <%= f.label "Desde", class:"m-5 mb-5" %>
      </div>
      <div class="col-sm-3">
        <%= f.date_field :creation_date_gteq, value: "1980-01-01", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-1">
        <%= f.label "Hasta", class:"m-5 mb-5" %>
      </div>
      <div class="col-sm-3">
        <%= f.date_field :creation_date_lteq, value: Date.today, class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
    <br><br>
    <div class="row flexBox">
      <div class="col-sm-3 ">
      </div>
      <div class="col-sm-2 center">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
      <div class="col-sm-2 center">
        <%= link_to lawyer_report_path, class:"link" do %>
            <span class="glyphicon glyphicon-refresh btn btn-default"></span>
        <% end %>
      </div>
      <div class="col-sm-2 center">
        <%= link_to lawyer_report_path(request.parameters.merge({:format => :xls})), download: 'projects.xls', class:"link" do %>
            <span class="glyphicon glyphicon-download btn btn-default"></span>
        <% end %>
      </div>
      <div class="col-sm-3 ">
      </div>
    </div>
  <% end %>
</div>


<hr style="margin: 0">

<div class="container-fluid p-30">
  <table id="search" class="table table-responsive-sm table-hover">
    <thead>
      <tr>
        <th class="center"><%= sort_link @search, :p_type, "Proceso", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :correspondency_radicate, "N째 Correspondencia", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :case_id_bap, "N째 Bizagi, Acces, PA", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :case_id_sise, "N째 SISE", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :user_id, "Abogado", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :city_case_id, "Ciudad", {}, :class => 'link' %></th>
      </tr>
    </thead>

    <tbody>
      <% if @processes == [] %>
        <tr class='clickable-row' data-href='#'>
        </tr>
      <% else %>
        <% @processes.each do |p| %>
          <tr class='clickable-row' data-href='<%= type_process_path(p) %>'>
            <td class="center"><%= p.get_type_process %></td>
            <td class="center"><%= p.correspondency_radicate %></td>
            <td class="center"><%= p.case_id_bap %></td>
            <td class="center"><%= p.case_id_sise %></td>
            <td class="center"><%= User.find(p.user_id).name %></td>
            <td class="center"><%= p.city_case %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <hr>
  <div class="container-fluid mb-30 center">
    <%= will_paginate @processes, renderer: BootstrapPagination::Rails, class: "pagination-lg", :previous_label => t("Anterior"), :next_label => t("Siguiente")%>
  </div>
</div>
<div>
  <h4><%= @processes.length + @page %> / <%= @search.result.length %></h4>
</div>

<!--%= link_to "Descargar", type_processes_path(params.merge(format: "xls")) %-->
