<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });
</script>
<script>
  $(document).ready(function(){
    
    /*========================== reglas ==========================*/
    $('#state').ready(function(){
      var x = document.getElementById("state").value;
      if(x === 'Si'){
        document.getElementById("correspondency_radicate").readOnly = false;
        $("#correspondency_radicate").val("");
      }
      else{
         document.getElementById("correspondency_radicate").readOnly = true;
         $("#correspondency_radicate").val("Pendiente");
      }
    });
    $('#state').change(function(){
      var x = document.getElementById("state").value;
      if(x === 'Si'){
        document.getElementById("correspondency_radicate").readOnly = false;
        $("#correspondency_radicate").val("");

      }
      else{
         document.getElementById("correspondency_radicate").readOnly = true;
         $("#correspondency_radicate").val("Pendiente");
      }
    });

    $('#coactive').ready(function(){
      var x = document.getElementById("coactive").value;
      if(x === 'Si'){
        document.getElementById("coactive_radicate").readOnly = false;
        document.getElementById("coactive_value_cents").readOnly = false;
        $("#coactive_radicate").val("");
        $("#coactive_value_cents").val(0);
      }
      else{
         document.getElementById("coactive_radicate").readOnly = true;
         document.getElementById("coactive_value_cents").readOnly = true;
         $("#coactive_radicate").val("Pendiente");
         $("#coactive_value_cents").val(-1);
      }
    });
    $('#coactive').change(function(){
      var x = document.getElementById("coactive").value;
      if(x === 'Si'){
        document.getElementById("coactive_radicate").readOnly = false;
        document.getElementById("coactive_value_cents").readOnly = false;
        $("#coactive_radicate").val("");
        $("#coactive_value_cents").val(0);
      }
      else{
        document.getElementById("coactive_radicate").readOnly = true;
        document.getElementById("coactive_value_cents").readOnly = true;
        $("#correspondency_radicate").val("Pendiente");
        $("#coactive_value_cents").val(-1);
      }
    });

    $('#more_policies').ready(function(){
      var x = document.getElementById("more_policies").value;
      if(x === 'Si'){
        document.getElementById("policies").readOnly = false;
        document.getElementById("sinisters").readOnly = false;
        $("#policies").val("");
        $("#sinisters").val("");
      }
      else{
        document.getElementById("policies").readOnly = true;
        document.getElementById("sinisters").readOnly = true;
        $("#policies").val("NO APLICA");
        $("#sinisters").val("NO APLICA");
      }
    });
    $('#more_policies').change(function(){
      var x = document.getElementById("more_policies").value;
      if(x === 'Si'){
        document.getElementById("policies").readOnly = false;
        document.getElementById("sinisters").readOnly = false;
        $("#policies").val("");
        $("#sinisters").val("");
      }
      else{
        document.getElementById("policies").readOnly = true;
        document.getElementById("sinisters").readOnly = true;
        $("#policies").val("NO APLICA");
        $("#sinisters").val("NO APLICA");
      }
    });

    var num=0, exer=0, poly=0, comm=0, numSiniestro = "";
    $('#number').change(function(){
      num = numSiniestro.concat(document.getElementById("number").value);
      $("#sinister").val(num+"-"+exer+"-"+poly+"-"+comm);
    });
    $('#exercise').change(function(){
      exer = numSiniestro.concat(document.getElementById("exercise").value);
      $("#sinister").val(num+"-"+exer+"-"+poly+"-"+comm);
    });
    $('#branch_policy').change(function(){
      poly = numSiniestro.concat(document.getElementById("branch_policy").value);
      $("#sinister").val(num+"-"+exer+"-"+poly+"-"+comm);
    });
    $('#branch_commercial').change(function(){
      comm = numSiniestro.concat(document.getElementById("branch_commercial").value);
      $("#sinister").val(num+"-"+exer+"-"+poly+"-"+comm);
    });

    $('#litigationSource').ready(function(){
      litigationSourceRule();
    });
    $('#litigationSource').change(function(){
      litigationSourceRule();
    });

    function litigationSourceRule(){
      litsrc = document.getElementById("litigationSource").value;
      if(litsrc == 2){
        document.getElementById("policyCents").readOnly = false;
        $('#protection').prop( "disabled", false );
      }
      else{
        document.getElementById("policyCents").readOnly = true;
        $('#protection').prop( "disabled", true );
      }
    }

    $('#detrimetValueCents').ready(function(){
      contingencyValueCentsRule();
    });
    $('#ensuranceValueCents').ready(function(){
      contingencyValueCentsRule();
    });
    $('#detrimetValueCents').change(function(){
      contingencyValueCentsRule();
    });
    $('#ensuranceValueCents').change(function(){
      contingencyValueCentsRule();
    });

    $('#subprocessClass').ready(function(){
      subprocessClassRule();
    });
    $('#subprocessClass').change(function(){
      subprocessClassRule();
    });
    function subprocessClassRule(){
      subClass = document.getElementById("subprocessClass").value;
      if(subClass == 1){
        $('#currentStageVer').prop( "disabled", true );
        $('#currentStageOrd').prop( "disabled", true );
        $('#currentStage').hide();
        $('#currentStageVer').hide();
        $('#currentStageOrd').hide();
      }
      if(subClass == 4){
        $('#currentStageVer').prop( "disabled", false );
        $('#currentStageOrd').prop( "disabled", true );
        $('#currentStage').show();
        $('#currentStageVer').show();
        $('#currentStageOrd').hide();
      }
      if(subClass == 5){
        $('#currentStageVer').prop( "disabled", true );
        $('#currentStageOrd').prop( "disabled", false );
        $('#currentStage').show();
        $('#currentStageVer').hide();
        $('#currentStageOrd').show();
      }
    }

    $('#moneyType').ready(function(){
      moneyTypeRule();
    });
    $('#moneyType').change(function(){
      moneyTypeRule();
    });
    function moneyTypeRule(){
      var money_type = document.getElementById("moneyType").value;
      if(money_type == 1){
        document.getElementById("dolarValueCents").readOnly = true;
        $("#dolarValueCents").val(0);
      }
      else
        document.getElementById("dolarValueCents").readOnly = false;
    }

    $('#caseState').ready(function(){
      caseStateRule();
    });
    $('#caseState').change(function(){
      caseStateRule();
    });
    function caseStateRule(){
      var case_state = document.getElementById("caseState").value;
      if(case_state == 3){
        $('#caseTermination').prop( "disabled", false );
        $('#lastPerformance').prop( "disabled", false );
        document.getElementById("lastPerformanceDate").readOnly = false;
        $('#reservedReleased').prop( "disabled", false );
      }
      else{
        $('#caseTermination').prop( "disabled", true );
        $('#lastPerformance').prop( "disabled", true );
        document.getElementById("lastPerformanceDate").readOnly = true;
        $('#reservedReleased').prop( "disabled", true );
      }
    }

    /*caseState caseTermination lastPerformance lastPerformanceDate reservedReleased*/
    
    
});

</script>

<%= form_with(model: type_process, local: true) do |form| %>
  <% if type_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_process.errors.count, "error") %> prohibited this type_process from being saved:</h2>
      <ul>
      <% type_process.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="p-30">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-7 ">

        <%= form.hidden_field :p_type, :value => 3 %>
        <%= form.hidden_field :user_id, :value => current_user.id %>

          <%= form.label "Clase de proceso" %>
        <div class="input-group">
          <%= form.collection_select(:process_class_id, ProcessClass.fiscal, :id, :name, {}, {:class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Subclase de proceso" %>
        <div class="input-group">
          <%= form.collection_select(:subprocess_class_id, SubprocessClass.fiscal, :id , :name, {}, {:class=>"form-control", :id=>"subprocessClass"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Tiene número de radicado correspondencia?" %>
        <div class="input-group">
          <select id="state" class="form-control">
            <option value="No">No</option>
            <option value="Si">Si</option>
          </select>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Número de radicado correspondencia" %>
        <div class="input-group">
          <%= form.text_field :correspondency_radicate, value: "PENDIENTE", id:"correspondency_radicate", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Número de identificación del caso (Bizagi, Acces y PA)" %>
        <div class="input-group">
          <%= form.text_field :case_id_bap, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Número de identificación del caso SISE" %>
        <div class="input-group">
          <%= form.text_field :case_id_sise, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Fecha de creación" %>
        <div class="input-group">
          <%= form.date_field :creation_date, :readonly => "readonly", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Tipo de vinculación" %>
        <div class="input-group">
          <%= form.collection_select(:link_type_id, LinkType.fiscal, :id, :name, {}, {:class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Departamento" %>
        <div class="input-group">
          <%= form.collection_select(:departament_id, Departament.all, :id, :name, {}, {:class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Ciudad donde cursa el caso" %>
        <div class="input-group">
          <%= form.collection_select(:city_case_id, CityCase.all, :id, :name, {}, {:class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Fuente de litigio" %>
        <div class="input-group">
          <%= form.collection_select(:litigation_source_id, LitigationSource.all, :id, :name, {}, {:id=>"litigationSource", :class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Tipo de reaseguro" %>
        <div class="input-group">
          <%= form.collection_select(:reinsurance_type_id, ReinsuranceType.all, :id, :name, {}, {:class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Reaseguro reportado" %><br>
        <div class="input-group">
          <%= form.select :reinsurance_report, options_for_select([["No", false], ["Si", true]], {:class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Tipo de coaseguro" %>
        <div class="input-group">
          <%= form.collection_select(:coensurance_type_id, CoensuranceType.all, :id, :name, {}, {:class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Póliza" %>
        <div class="input-group">
          <%= form.number_field :policy_cents, id:"policyCents", class:"form-control", readOnly:'readOnly' %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Amparo" %>
        <div class="input-group">
          <%= form.collection_select(:protection_id, Protection.all, :id, :name, {}, {:class=>"form-control", :id=>"protection", :disabled=>"true"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Número (siniestro)" %>
        <div class="input-group">
          <%= form.number_field :number, id:"number", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Ejercicio" %>
        <div class="input-group">
          <%= form.number_field :exercise, id:"exercise", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Sucursal de la póliza" %>
        <div class="input-group">
          <%= form.collection_select(:branch_policy_id, BranchPolicy.all, :num, :large_name, {}, {:class=>"form-control", :id => "branch_policy" }) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Ramo comercial" %>
        <div class="input-group">
          <%= form.collection_select(:branch_commercial_id, BranchCommercial.all, :num, :large_name, {}, {:class=>"form-control", :id => "branch_commercial" }) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Tipo moneda" %>
        <div class="input-group">
          <%= form.collection_select(:money_type_id, MoneyType.all, :id, :name, {}, {:class=>"form-control", :id=>"moneyType"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Valor del dólar" %>
        <div class="input-group">
          <%= form.number_field :dolar_value_cents, class:"form-control", id:"dolarValueCents" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Número del siniestro (completo)" %>
        <div class="input-group">
          <%= form.text_field :sinister, id:"sinister", :readOnly=>"readOnly", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
        <%= form.label "Tiene más pólizas?" %>
        <div class="input-group">
          <select id="more_policies" class="form-control">
            <option value="No">No</option>
            <option value="Si">Si</option>
          </select>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de pólizas" %>
        <div class="input-group">
          <%= form.text_area :policies, id:"policies", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de siniestros" %>
        <div class="input-group">
          <%= form.text_area :sinisters, id:"sinisters", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Reserva o provisión de indemnización" %>
        <div class="input-group">
          <%= form.number_field :reserve_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Reserva honorarios" %>
        <div class="input-group">
          <%= form.number_field :reserved_fees_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor pretensión / detrimento / estimación" %>
        <div class="input-group">
          <%= form.number_field :detritment_cents, id:"detrimetValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor asegurado" %>
        <div class="input-group">
          <%= form.number_field :ensurance_value_cents, id:"ensuranceValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor contingencia" %>
        <div class="input-group">
          <%= form.number_field :contingency_value_cents, id:"contingencyValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de notificación / vinculación" %>
        <div class="input-group">
          <%= form.date_field :notification_date, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicación del proceso" %>
        <div class="input-group">
          <%= form.text_field :process_radicate, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Apoderado Previsora" %>
        <div class="input-group">
          <%= form.text_field :attorny, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de asignación apoderado Previsora" %>
        <div class="input-group">
          <%= form.date_field :attorny_date, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Nombre despacho / tipo contraloría" %>
        <div class="input-group">
          <%= form.collection_select(:office_name_id, OfficeName.fiscal, :id, :name, {}, {:class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Parte activa" %>
        <div class="input-group">
          <%= form.text_field :active_part, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Parte pasiva" %>
        <div class="input-group">
          <%= form.text_field :passive_part, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Calificación contingencia" %>
        <div class="input-group">
          <%= form.collection_select(:score_contingency_id, ScoreContingency.all, :id, :name, {}, {:class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Razón contingencia" %>
        <div class="input-group">
          <%= form.text_field :contingency_reason, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Resumen de la contingencia" %>
        <div class="input-group">
          <%= form.text_field :contingency_resume, :readonly => "readonly", :value=>"PRESUNTO DETRIMENTO PATRIMONIAL POR INDEBIDA GESTION FISCAL", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Hechos" %>
        <div class="input-group">
          <%= form.text_area :facts, value: "PENDIENTE", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Etapa actual", id:"currentStage" %>
        <div class="input-group">
          <%= form.collection_select(:current_stage_id, CurrentStage.fiscal_ver, :id, :name, {}, {:id=>"currentStageVer", :class=>"form-control", :disabled=>"true"}) %>
          <%= form.collection_select(:current_stage_id, CurrentStage.fiscal_ord, :id, :name, {}, {:id=>"currentStageOrd", :class=>"form-control", :disabled=>"true"}) %>
        </div>

        <%= form.label "Instancias" %>
        <div class="input-group">
          <%= form.collection_select(:instance_id, Instance.all, :id, :name, {}, {:class=>"form-control"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Estado del caso" %>
        <div class="input-group">
          <%= form.collection_select(:case_state_id, CaseState.all, :id, :name, {}, {:class=>"form-control", :id=>"caseState"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de decisión" %>
        <div class="input-group">
          <%= form.date_field :desition_date, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Terminación del caso" %>
        <div class="input-group">
          <%= form.collection_select(:case_termination_id, CaseTermination.all, :id, :name, {}, {:class=>"form-control", :id=>"caseTermination"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor fallo decisión" %>
        <div class="input-group">
          <%= form.number_field :fail_value_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor fallo a cargo de Previsora" %>
        <div class="input-group">
          <%= form.number_field :fail_previ_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor pagado Previsora" %>
        <div class="input-group">
          <%= form.number_field :payed_value_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de consignación" %>
        <div class="input-group">
          <%= form.date_field :payment_date, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tiene número de radicado de coactivo?" %>
        <div class="input-group">
          <select id="coactive" class="form-control">
            <option value="No">No</option>
            <option value="Si">Si</option>
          </select>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicación de coactivo" %>
        <div class="input-group">
          <%= form.text_field :coactive_radicate, value: "PENDIENTE", id:"coactive_radicate", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor coactivo" %>
        <div class="input-group">
          <%= form.number_field :coactive_value_cents, id:"coactive_value_cents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor embargo" %>
        <div class="input-group">
          <%= form.number_field :garnish_value_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Última actuación" %>
        <div class="input-group">
          <%= form.collection_select(:last_performance_id, LastPerformance.all, :id, :name, {}, {:class=>"form-control", :id=>"lastPerformance"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha última actuación" %>
        <div class="input-group">
          <%= form.date_field :last_performance_date, class:"form-control",  id:"lastPerformanceDate" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Reserva depurada" %>
        <div class="input-group">
          <%= form.collection_select(:reserved_released_id, ReservedReleased.all, :id, :name, {}, {:class=>"form-control", :id=>"reservedReleased"}) %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
        
      </div>
    </div>
  </div>

  <div class="">
    <%= link_to 'Volver', index_home_path, class:"btn btn-default" %>
    <%= form.submit "Guardar", class:"btn btn-default floatRight" %>
  </div>

<% end %>
