<div class='nested-fields'>

  <hr>

  <%= f.label :number, "Número de Siniestro" %>
  <div class="input-group">
    <%= f.number_field :number, required:true, placeholder:"NÚMERO", id:"number", class:"form-control" %>
    <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.number_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
  </div>

  <%= f.label :exercise, "Ejercicio" %>
  <div class="input-group">
    <%= f.number_field :exercise, required: true, id:"exercise", min:"1000", max:"9999", placeholder:"AÑO COMPLETO", class:"form-control" %>
    <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.exercise_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
  </div>

  <%= f.label :branch_policy, "Sucursal de la póliza" %>
  <div class="input-group">
    <%= f.collection_select(:branch_policy, BranchPolicy.all, :num, :large_name, {include_blank: "SELECCIONE"}, {required: true, class:"form-control", :id => "branch_policy" }) %>
    <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.branch_policy_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
  </div>

  <%= f.label :branch_commercial, "Ramo comercial" %>
  <div class="input-group">
    <%= f.collection_select(:branch_commercial, BranchCommercial.all, :num, :large_name, {include_blank: "SELECCIONE"}, {required: true, class:"form-control", :id => "branch_commercial" }) %>
    <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.branch_commercial_id_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
  </div>

  <%= f.label :sinister, "Número de Siniestro (completo)" %>
  <div class="input-group">
    <%= f.text_field :sinister, pattern:"[A-Z0-9\- ]*", title: t(:pattern), id:"sinister", readOnly:true, class:"form-control" %>
    <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.sinister_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
  </div>

  <%= f.label :reserve_cents, "Reserva de la indemnización" %>
  <div class="input-group">
    <%= f.text_field :reserve_cents, maxlength:"20", required: true, pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"reserve_cents form-control" %>
    <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.reserved_fees_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
  </div>

  <%= f.label :reserve_cents, "Reserva honorarios" %>
  <div class="input-group">
    <%= f.text_field :reserved_fees_cents, maxlength:"20", required: true, pattern:"[0-9\,\' ]*", title: t(:pattern_n), onclick:"formatting_number(this)", onkeyup:"formatting_number(this)", onblur:"formatting_empty_number(this)", class:"reserved_fees_cents form-control" %>
    <span data-toggle="tooltip" data-html="true" title="<%= t('processes.prejudicial.reserved_fees_cents_d') %>" class="input-group-addon fa fa-question m-1"  style="font-size:20px"></span>
  </div>

  <div class="input-group">
    <%= link_to_remove_association f, class: "minibtn btn-default m-1" do %>
      <span class="fa">&#x2212;</span>
      Borrar Siniestro
    <% end %>
  </div>

  <hr>

</div>
