<p id="notice"><%= notice %></p>

<h1>Sinisters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sinisters.each do |sinister| %>
      <tr>
        <td><%= link_to 'Show', sinister %></td>
        <td><%= link_to 'Edit', edit_sinister_path(sinister) %></td>
        <td><%= link_to 'Destroy', sinister, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sinister', new_sinister_path %>
