<div class="row">
  <div class="col flexBox verticalCenter">
    <h5 class="justify m-30">
      Apreciado(a) Usuario(a):
      <br><br>
      Bienvenido a <b class="ligthgreen1">Registro Único Secundario</b>, el sistema temporal que consolida el registro de los casos que actualmente se administran en la Gerencia de Procesos Judiciales.
    </h5>
  </div>
  <div class="col">
    <h2 class="title">Iniciar Sesión</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= f.label :document, "Documento de Identificación", class:"form-label" %><br />
        <%= f.text_field :document, autofocus: true, class:"form-control" %>
      </div>
      <br>

      <div>
        <%= f.label :contraseña, class:"form-label" %><br />
        <%= f.password_field :password, autocomplete: "off", maxlength:50, class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Iniciar Sesión", class:"btn btn-default fw" %>
      </div>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "¿Olvidó su contraseña?", new_password_path(resource_name), class:"link" %><br />
    <% end -%>
    <br>
  </div>
</div>
