<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <div style="margin-top: 90px">
      
      <h2 class="white center">Iniciar Sesión</h2>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div>
          <%= f.label :document, class:"form-label" %><br />
          <%= f.number_field :document, autofocus: true, class:"form-control" %>
        </div>
        <br>
        
        <div>
          <%= f.label :password, class:"form-label" %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class:"white" %>
          </div>
        <% end -%>
      
        <div class="actions">
          <%= f.submit "Log in", class:"btn btn-inverse fw" %>
        </div>
      <% end %>
      
      <%= render "devise/shared/links" %>
      
    </div>
  </div>
</div>