<%= javascript_include_tag "prejudicial" %>

<%= form_with(model: type_process, local: true) do |form| %>
  <% if type_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_process.errors.count, "error") %> prohibited this type_process from being saved:</h2>

      <ul>
        <% type_process.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="p-30">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-7 ">

        <%= form.hidden_field :p_type, :value => 1 %>
        <%= form.hidden_field :user_id, :value => current_user.id %>

        <hr>

        <%= form.label "Clase de proceso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:process_class_id, ProcessClass.prejudicial, :id, :name, {}, {class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.process_class_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "¿Tiene número de radicado correspondencia?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="radicate" class="form-control">
              <option value="Si">SI</option>
              <option value="No">NO</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.radicate_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicado correspondencia" %>
        <div class="input-group">
          <%= form.text_field :correspondency_radicate, id:"correspondency_radicate", onclick:"input_nopresenta_rule(this)", onblur:"input_empty_nopresenta_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.correspondency_radicate_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de identificación del caso (Bizagi, Access y PA)" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.text_field :case_id_bap, id:"case_id_bap", onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.case_id_bap_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de radicación del proceso" %>
        <div class="input-group">
          <%= form.text_field :process_radicate, id:"process_radicate", class:"form-control", readOnly: true %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.process_radicate_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Fecha de creación" %>
        <div class="input-group">
            <%= form.date_field :creation_date, readOnly: "readOnly", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.creation_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tipo de vinculación" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:link_type_id, LinkType.prejuducial, :id, :name, {prompt: "SELECCIONE"}, {:class=>"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.link_type_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Departamento donde cursa el caso" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.select :departament, options_from_collection_for_select(TypeProcess.get_all_departament, :first, :last, '2'), {prompt: "SELECCIONE"}, {id:"departament", class:"form-control"} %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.departament_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ciudad donde cursa el caso" %>
        <div class="input-group">
          <div class="styled-select">
            <select name="type_process[city_case]" id="cities">
              <option value="PENDIENTE" selected="selected">SELECCIONE</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.city_case_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de notificación / vinculación" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.date_field :notification_date, class:"form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.notification_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Fuente de litigio" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:litigation_source_id, LitigationSource.all, :id, :name, {:prompt => 'SELECCIONE'}, {id:"litigationSource", class:"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.litigation_source_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Póliza" %>
        <div class="input-group">
          <%= form.number_field :policy_cents, id:"policyCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.policy_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Amparo" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:protection_id, Protection.all, :id, :name, {:prompt => 'SELECCIONE'}, {class:"form-control", id:"protection"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.protection_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número (siniestro)" %>
        <div class="input-group">
          <%= form.number_field :number, id:"number", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ejercicio" %>
        <div class="input-group">
          <%= form.number_field :exercise, id:"exercise", max:"99", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Sucursal de la póliza" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:branch_policy_id, BranchPolicy.all, :num, :large_name, {}, {class:"form-control", :id => "branch_policy" }) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.branch_policy_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ramo comercial" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:branch_commercial_id, BranchCommercial.all, :num, :large_name, {}, {class:"form-control", :id => "branch_commercial" }) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.branch_commercial_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número del siniestro (generado)" %>
        <div class="input-group">
          <%= form.text_field :sinister, pattern:"[A-Z0-9\- ]*", title: t(:pattern), id:"sinister", readOnly:true, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.sinister_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "¿Tiene más pólizas?" %>
        <div class="input-group">
          <div class="styled-select">
            <select id="more_policies" class="form-control">
              <option value="Si">SI</option>
              <option value="No">NO</option>
            </select>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.more_policies_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de pólizas" %>
        <div class="input-group">
          <%= form.text_area :policies, id:"policies", pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.policies_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Número de siniestros" %>
        <div class="input-group">
          <%= form.text_area :sinisters, id:"sinisters", pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.sinisters_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Caso ON-BASE" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.text_field :case_onbase, pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.base_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Apoderado Previsora" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.text_field :attorny, pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.attorny_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de asignación apoderado Previsora" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.date_field :attorny_date, pattern:"[A-Z0-9\- ]*", title: t(:pattern), class:"form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.attorny_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Parte activa" %>
        <div class="input-group">
            <%= form.text_field :active_part, pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Parte pasiva" %>
        <div class="input-group">
          <%= form.text_field :passive_part, pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Hechos" %>
        <div class="input-group">
            <%= form.text_area :facts, pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Nombre despacho" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.text_field :office_name, pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_noaplica_rule(this)", onblur:"input_empty_noaplica_rule(this)", class:"form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.office_name_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de primera audiencia" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.date_field :payment_date, class:"form-control" %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.payment_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Tipo moneda" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:money_type_id, MoneyType.all, :id, :name, {}, {class:"form-control", id:"moneyType"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.money_type_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor del dólar" %>
        <div class="input-group">
          <%= form.number_field :dolar_value_cents, id:"dolarValueCents", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor pretensión" %>
        <div class="input-group">
            <%= form.text_field :detritment_cents, onkeyup:"formatting(this)",class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.detritment_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor asegurado" %>
        <div class="input-group">
            <%= form.number_field :ensurance_value_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.ensurance_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Calificación contingencia" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:score_contingency_id, ScoreContingency.all, :id, :name, {}, {:class=>"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.score_contingency_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor contingencia" %>
        <div class="input-group">
            <%= form.number_field :contingency_value_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.contingency_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

        <%= form.label "Etapa actual" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:current_stage_id, CurrentStage.prejudicial, :id, :name, {}, {:class=>"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.current_stage_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Tipo de reaseguro" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:reinsurance_type_id, ReinsuranceType.all, :id, :name, {}, {id: "reinsurance_type", :class=>"form-control"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.reinsurance_type_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor reaseguro" %>
        <div class="input-group">
          <%= form.number_field :reinsurance_value_cents, id:"reinsurance_value", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.reinsurance_value_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Reaseguro reportado" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.select :reinsurance_report, options_for_select([["NO", false], ["SI", true]]), {}, {class:"form-control"} %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.reinsurance_report_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Reaseguro cedido" %>
        <div class="input-group">
            <%= form.number_field :reensurance_gived_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.reensurance_gived_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Ingresa al comité" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:join_committee_id, JoinCommittee.all, :id, :name, {}, {class:"form-control", id:"join_committee"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.join_committee_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Decisión del comité" %>
        <div class="input-group">
          <div class="styled-select">
            <%= form.collection_select(:committee_id, Committee.all, :id, :name, {}, {class:"form-control", id:"committee"}) %>
          </div>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.committee_id_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor autorizado por el comité" %>
        <div class="input-group">
            <%= form.number_field :auth_value_cents, id:"auth_value", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Valor pagado Previsora" %>
        <div class="input-group">
            <%= form.number_field :payed_value_cents, id: "payed_value", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="breve descripción" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Fecha de pago" %>
        <div class="input-group">
            <%= form.date_field :payment_date, class:"form-control", id:"payment_date" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.payment_date_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Razón de no conciliar" %>
        <div class="input-group">
            <%= form.text_area :reason_conc, id:"reason_conc", pattern:"[A-Z0-9\- ]*", title: t(:pattern), onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.reason_conc_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Razón de invialibilidad" %>
        <div class="input-group">
            <%= form.text_area :reason_inv, id:"reason_inv",  onclick:"input_pendiente_rule(this)", onblur:"input_empty_pendiente_rule(this)", pattern:"[A-Z0-9 ]*", title:"Solo mayusculas", class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.reason_inv_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <%= form.label "Reserva honorarios" %>
        <div class="input-group">
            <%= form.number_field :reserved_fees_cents, class:"form-control" %>
          <span class="input-group-addon" data-toggle="tooltip" title="<%= t('processes.prejudicial.reserved_fees_cents_d') %>" data-placement="auto top">
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>

        <hr>

      </div>
    </div>
  </div>

  <div class="">
    <%= link_to 'Volver', index_home_path, class:"btn btn-default" %>
    <%= form.submit "Guardar", class:"btn btn-default floatRight" %>
  </div>
<% end %>
