<p class="m-30">
  Agregar procesos.
</p>

<div class="row mb-30">
    <div class="col-sm-offset-3 col-sm-6">
        <%= link_to "Prejudicial", prejudicial_new_path, class:"btn btn-default fw" %>
        <%= link_to "Judicial", judicial_new_path, class:"btn btn-default fw" %>
        <%= link_to "Fiscal", fiscal_new_path, class:"btn btn-default fw" %>
        <%= link_to "Procedimiento administrativo", administrative_new_path, class:"btn btn-default fw" %>
        <%= link_to "Tutela", tutelage_new_path, class:"btn btn-default fw" %>
    </div>
</div>
