<div class="row mb-30">
  <h4 class="justify m-30-60">
    Apreciado(a) <%= current_user.name %>, seleccione el tipo de proceso que desea ingresar en el Regitro Único de la Gerencia de Procesos Judiciales.
  </h4>
    <div class="col-sm-offset-3 col-sm-6">
        <br>
        <%= link_to "Proceso Prejudicial", prejudicial_new_path, class:"btn btn-default fw" %>
        <br>
        <%= link_to "Proceso Judicial", judicial_new_path, class:"btn btn-default fw" %>
        <br>
        <%= link_to "Responsabilidad Fiscal", fiscal_new_path, class:"btn btn-default fw" %>
        <br>
        <%= link_to "Vía Gubernativa", administrative_new_path, class:"btn btn-default fw" %>
        <br>
        <%= link_to "Tutela", tutelage_new_path, class:"btn btn-default fw" %>
        <br><br>
    </div>
</div>
