<h4 class="ligthgreen1">Nuevo Registro</h4>
<br>


<p class="justify">
  Apreciado(a) <%= current_user.name.titleize %>.
  <br>
  <br>
  Seleccione el tipo de proceso al que corresponde el registro que desea ingresar.
</p>
<div class="offset-sm-3 col-sm-6">
  <br>
  <%= link_to "Proceso Prejudicial", new_prejudicial_path, class:"btn btn-grad mb-5 fw" %>
  <br>
  <%= link_to "Proceso Judicial", new_judicial_path, class:"btn btn-grad mb-5 fw" %>
  <br>
  <%= link_to "Responsabilidad Fiscal", new_fiscal_path, class:"btn btn-grad mb-5 fw" %>
  <br>
  <%= link_to "Procedimiento Administrativo", new_administrative_path, class:"btn btn-grad mb-5 fw" %>
  <br>
  <%= link_to "Coljuegos", new_coljuego_path, class:"btn btn-grad mb-5 fw" %>
  <br>
  <%= link_to "Tutela", new_tutelage_path, class:"btn btn-grad mb-5 fw" %>
  <br><br>
  <%= link_to 'Volver', index_home_path, class:"btn btn-default btn-grad" %>
</div>
