<div class="row mb-30">
  <h4 class="justify m-30-60">
    Apreciado(a) <%= current_user.name %>, seleccione el tipo de proceso que desea ingresar en el Regitro Único de la Gerencia de Procesos Judiciales.
  </h4>
    <div class="col-sm-offset-3 col-sm-6">
        <br>
        <%= link_to "Proceso Prejudicial", new_prejudicial_path, class:"btn btn-grad fw" %>
        <br>
        <%= link_to "Proceso Judicial", new_judicial_path, class:"btn btn-grad fw" %>
        <br>
        <%= link_to "Responsabilidad Fiscal", new_fiscal_path, class:"btn btn-grad fw" %>
        <br>
        <%= link_to "Procedimiento Administrativo", new_administrative_path, class:"btn btn-grad fw" %>
        <br>
        <%= link_to "Tutela", new_tutelage_path, class:"btn btn-grad fw" %>
        <br><br>
    </div>
</div>
