<p class="m-30">
  Agregar procesos.
</p>

<div class="row mb-30">
    <div class="col-sm-offset-3 col-sm-6">
        <%= link_to "Prejudicial", new_prejudicial_path, class:"btn btn-default fw" %>
        <%= link_to "Judicial", new_judicial_path, class:"btn btn-default fw" %>
        <%= link_to "Fiscal", new_fiscal_path, class:"btn btn-default fw" %>
        <%= link_to "Procedimiento administrativo", new_administrative_path, class:"btn btn-default fw" %>
        <%= link_to "Tutela", new_tutelage_path, class:"btn btn-default fw" %>
    </div>
</div>
