<%= javascript_include_tag "lawyer" %>

<hr>

<div class="container-fluid p-15">
  <%= search_form_for @search, url: lawyer_search_url, class:"" do |f| %>
    <div class="row flexBox">
      <div class="col-sm-3">
        <div class="styled-select m-5">
          <%= f.select :p_type_eq, options_for_select([["SELECCIONE", nil], ["PROCESO PREJUDICIAL", 1], ["PROCESO JUDICIAL", 2], ["RESPONSABILIDAD FISCAL", 3], ["PROCEDIMIENTO ADMINISTRATIVO", 4], ["TUTELA", 5]]), {}, {} %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="styled-select m-5">
          <%= f.select :departament_eq, options_from_collection_for_select(TypeProcess.get_all_departament, :first, :last, '2'), {prompt: "DEPARTAMENTO"}, {id:"departament"} %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="styled-select m-5">
          <select name="type_process[city_case_eq]" id="cities">
            <option value="" selected="selected">CIUDAD</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :office_name_cont, placeholder: "NOMBRE DESPACHO", class:"form-control m-5 mb-5" %>
      </div>
    </div>
    <div class="row flexBox">
      <div class="col-sm-3">
        <%= f.text_field :correspondency_radicate_cont, placeholder: "N° RADICADO CORRESPONDENCIA", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :case_id_bap_cont, placeholder: "N° IDENTIFICACION BIZAGI ACCESS PA", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :case_id_sise_cont, placeholder: "N° IDENTIFICACION SISE", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :process_radicate_cont, placeholder: "N° RADICADO DEL PROCESO", class:"form-control m-5 mb-5" %>
      </div>
    </div>
    <div class="row flexBox">
      <div class="col-sm-3">
        <%= f.text_field :internal_lawyer_cont, placeholder: "NOMBRE ABOGADO INTERNO", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :active_part_cont, placeholder: "PARTE ACTIVA", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :passive_part_cont, placeholder: "PARTE PASIVA", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-3">
        <div class="styled-select m-5">
          <%= f.collection_select(:case_state_eq, CaseState.all, :name, :name, {prompt: "ESTADO DEL CASO"}, {class:"form-control"}) %>
        </div>
      </div>
    </div>
    <div class="row flexBox">
      <div class="col-sm-8"></div>
      <div class="col-sm-2 center">
        <%= link_to lawyer_search_path, class:"link" do %>
            <span class="glyphicon glyphicon-refresh btn btn-default"></span>
        <% end %>
      </div>
      <div class="col-sm-2 center">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>
  <% end %>
</div>


<hr style="margin: 0">

<div class="container-fluid p-30">
  <table id="search" class="table table-responsive-sm table-hover">
    <thead>
      <tr>
        <th class="center"><%= sort_link @search, :p_type, "Proceso", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :correspondency_radicate, "N° Correspondencia", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :case_id_bap, "N° Bizagi, Acces, PA", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :case_id_sise, "N° SISE", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :internal_lawyer, "Abogado", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :city_case_id, "Ciudad", {}, :class => 'link' %></th>
      </tr>
    </thead>

    <tbody>
      <% if @processes == [] %>
        <tr class='clickable-row' data-href='#'>
        </tr>
      <% else %>
        <% @processes.each do |p| %>
          <tr class='clickable-row' data-href='<%= type_process_path(p) %>'>
            <td class="center" style="font-size: 12px;"><%= p.get_type_process %></td>
            <td class="center" style="font-size: 12px;"><%= p.correspondency_radicate %></td>
            <td class="center" style="font-size: 12px;"><%= p.case_id_bap %></td>
            <td class="center" style="font-size: 12px;"><%= p.case_id_sise %></td>
            <td class="center" style="font-size: 12px;"><%= p.internal_lawyer %></td>
            <td class="center" style="font-size: 12px;"><%= p.city_case %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <hr>
  <div class="container-fluid mb-30 center">
    <%= will_paginate @processes, renderer: BootstrapPagination::Rails, class: "pagination-lg", :previous_label => t("Anterior"), :next_label => t("Siguiente")%>
  </div>
</div>
<div>
  <h4><%= @processes.length + @page %> / <%= @search.result.length %></h4>
</div>
