<script>
  $(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>

<div class="row container-fluid mt-30 mb-30">
  <%= search_form_for @search, url: lawyer_search_url, class:"" do |f| %>
    <div class="col-sm-2">
      <div class="styled-select">
        <%= f.select :p_type_eq, options_for_select([["Prejudicial", 1], ["Judicial", 2], ["Fiscal", 3], ["Administrativo", 4], ["Tutela", 5]]), {prompt: "SELECCIONE"}, {} %>
      </div>
    </div>
    <div class="col-sm-2">
      <%= f.text_field :correspondency_radicate_cont, placeholder: "Radicado", class:"form-control" %>
    </div>
    <div class="col-sm-2">
      <%= f.text_field :case_id_bap_cont, placeholder: "BAP", class:"form-control" %>
    </div>
    <div class="col-sm-2">
      <%= f.text_field :case_id_sise_cont, placeholder: "SISE", class:"form-control" %>
    </div>
    <div class="col-sm-2">
      <div class="styled-select">
        <%= f.collection_select(:city_case_id_eq, CityCase.all, :id, :name, {:prompt => 'SELECCIONE'}, {:class=>"fw"}) %>
      </div>
    </div>
    <div class="col-sm-2 center">
      <button type="submit" class="minibtn btn-default" style="margin: 0; padding: 5px 15px; height:30px">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  <% end %>
</div>

<div class="container-fluid p-30">
  <table class="table table-responsive-sm table-hover">
    <thead class="darkgreen">
      <tr>
        <th class="center"><%= sort_link @search, :p_type, "Proceso", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :correspondency_radicate, "N° Correspondencia", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :case_id_bap, "N° Bizagi, Acces, PA", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :case_id_sise, "N° SISE", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :user_id, "Abogado", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :city_case_id, "Ciudad", {}, :class => 'link' %></th>
      </tr>
    </thead>

    <tbody>
      <% if @processes == [] %>
        <tr class='clickable-row' data-href='#'>
          <td>0</td>
          <td>No</td>
          <td>hay</td>
          <td>resultados</td>
          <td>disponibles</td>
          <td></td>
        </tr>
      <% else %>
        <% @processes.each do |p| %>
          <tr class='clickable-row' data-href='#'>
            <td class="center"><%= p.get_type_process %></td>
            <td class="center"><%= p.correspondency_radicate %></td>
            <td class="center"><%= p.case_id_bap %></td>
            <td class="center"><%= p.case_id_sise %></td>
            <td class="center"><%= User.find(p.user_id).name %></td>
            <td class="center">Ciudad</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>


<div class="container-fluid mb-30 center">
  <%= will_paginate @processes, renderer: BootstrapPagination::Rails, class: "pagination-lg", :previous_label => t("Anterior"), :next_label => t("Siguiente")%> 
</div>

<!--%= link_to "Descargar", type_processes_path(params.merge(format: "xls")) %-->
