<script>
  $(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>

<%= search_form_for @search, url: lawyer_search_url do |f| %>
  <%= f.number_field :p_type %>
  <%= f.submit "Buscar" %>
<% end %>

<% if @processes == [] %>
  <div class="alert alert-danger m-30">
    <h4>Aún no tienes procesos creados.</h4>
  </div>
<% else %>

<%= will_paginate @processes %>
  <div class="container-fluid p-30">
    <table class="table table-responsive-sm table-hover">
      <thead class="darkgreen">
        <tr>
          <th class="center">TIPO DE PROCESO</th>
          <th class="center"># Radicado correspondencia</th>
          <th class="center"># Identificación (Bizagi, access y PA)</th>
          <th class="center">#Identificación (SISE)</th>
          <th class="center">Abogado interno</th>
          <th class="center">Ciudad donde cursa</th>
        </tr>
      </thead>

    <tbody>
      <% @processes.each do |p| %>
        <tr class='clickable-row' data-href='#'>
          <td class="center"><%= p.p_type %></td>
          <td class="center"><%= p.correspondency_radicate %></td>
          <td class="center"><%= p.case_id_bap %></td>
          <td class="center"><%= p.case_id_sise %></td>
          <td class="center">Abogado</td>
          <td class="center">Ciudad</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
