<script>
  $(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>

<div class="container-fluid p-15">
  <%= search_form_for @search, url: lawyer_search_url, class:"" do |f| %>
    <div class="row flexBox">
      <div class="col-sm-4">
        <div class="styled-select m-5">
          <%= f.select :p_type_eq, options_for_select([["Prejudicial", 1], ["Judicial", 2], ["Fiscal", 3], ["Administrativo", 4], ["Tutela", 5]]), {prompt: "SELECCIONE"}, {} %>
        </div>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :correspondency_radicate_cont, placeholder: "Radicado", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :case_id_bap_cont, placeholder: "BAP", class:"form-control m-5 mb-5" %>
      </div>
    </div>
    <div class="row flexBox">
      <div class="col-sm-4">
        <%= f.text_field :case_id_sise_cont, placeholder: "SISE", class:"form-control m-5 mb-5" %>
      </div>
      <div class="col-sm-4">
        <div class="styled-select m-5">
          <!---->
        </div>
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default floatRight" style="padding:5px 30px; height:34px">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>
  <% end %>
</div>


<hr style="margin: 0">

<div class="container-fluid p-30">
  <table class="table table-responsive-sm table-hover">
    <thead class="darkgreen">
      <tr>
        <th class="center"><%= sort_link @search, :p_type, "Proceso", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :correspondency_radicate, "N° Correspondencia", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :case_id_bap, "N° Bizagi, Acces, PA", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :case_id_sise, "N° SISE", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :user_id, "Abogado", {}, :class => 'link' %></th>
        <th class="center"><%= sort_link @search, :city_case_id, "Ciudad", {}, :class => 'link' %></th>
      </tr>
    </thead>

    <tbody>
      <% if @processes == [] %>
        <tr class='clickable-row' data-href='#'>
          <td>0</td>
          <td>No</td>
          <td>hay</td>
          <td>resultados</td>
          <td>disponibles</td>
          <td></td>
        </tr>
      <% else %>
        <% @processes.each do |p| %>
          <tr class='clickable-row' data-href='<%= type_process_path(p) %>'>
            <td class="center"><%= p.get_type_process %></td>
            <td class="center"><%= p.correspondency_radicate %></td>
            <td class="center"><%= p.case_id_bap %></td>
            <td class="center"><%= p.case_id_sise %></td>
            <td class="center"><%= User.find(p.user_id).name %></td>
            <td class="center"><%= p.city_case %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>


<div class="container-fluid mb-30 center">
  <%= will_paginate @processes, renderer: BootstrapPagination::Rails, class: "pagination-lg", :previous_label => t("Anterior"), :next_label => t("Siguiente")%>
</div>

<!--%= link_to "Descargar", type_processes_path(params.merge(format: "xls")) %-->
