<!DOCTYPE html>
<html>
  <head>
    <title>Previsora</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row p-30 ">
      <div class="col-sm-offset-1 col-sm-10 shadow p-0">

        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <nav class="navbar navbar-default navbar-static-top">
          <div class="navbar-header">
            <!--%= link_to image_tag("bannerprevisora.jpg", alt: "Previsora", width:"100%", class:""), index_home_path, class:"navbar-brand" %-->
          </div>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= link_to current_user.name, edit_user_registration_path, class:"link-inverse" %> 
              <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"link-inverse"  %>
            <% else %>
              <!--%= link_to "Registrarse", new_user_registration_path, class:"link-inverse"  %-->
              <!--%= link_to "Iniciar Sesión", new_user_session_path, class:"link-inverse"  %-->
            <% end %>
          </ul>
        </nav>

        <%= yield %>

      </div>
    </div>
    
  </body>
</html>
